Repository vi117/mc_final: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, frontend-eslint, backend-eslint

fmt:
  tags: frontend style
  run: npm run format {staged_files} && git add {staged_files}

frontend-eslint:
  run: npm run --workspace frontend lint {staged_files}

backend-eslint:
  run: npm run --workspace backend lint {staged_files}

fix: 약관코드 수정, index내용 수정
  package-lock.json
  packages/frontend/src/pages/register/TermOfPolicy.jsx
  packages/frontend/src/pages/register/index.jsx
  packages/frontend/src/pages/register/registerArgee/argeeStyle.css
  packages/frontend/src/pages/register/registerArgeeModal.jsx
Due: fmt, frontend-eslint

feat: communitymain- fix categoryfiltering
  packages/frontend/src/pages/community/components/board.jsx
  packages/frontend/src/pages/community/components/category.jsx
Due: fmt, frontend-eslint

.
  package-lock.json
Due: none

feat: forgot-password 페이지 완료
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/forgot-password/forgot.module.css
  packages/frontend/src/pages/forgot-password/index.jsx
  packages/frontend/src/pages/reset-password/index.jsx
Due: fmt, frontend-eslint

feat: password reset handler
  packages/backend/src/users/authCodeRepo.ts
  packages/backend/src/users/model.ts
  packages/backend/src/users/router.ts
  packages/backend/src/users/sendmail.ts
Due: fmt, backend-eslint

feat: add handler
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

.
  package-lock.json
  packages/backend/package.json
  packages/frontend/tsconfig.json
Due: none

feat: is_login cookie
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

feat: community-main/ fix: modal filtering
  package-lock.json
  packages/backend/package.json
  packages/frontend/src/pages/community/components/board.jsx
Due: fmt, frontend-eslint

feat: forget and reset password
  packages/frontend/src/pages/forgot-password/index.jsx
  packages/frontend/src/pages/login/index.jsx
  packages/frontend/src/pages/reset-password/index.jsx
Due: fmt, frontend-eslint

.
  package-lock.json
  packages/frontend/package.json
Due: none

save : 16:00
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsHome.jsx
Due: fmt, frontend-eslint

feat: reate community view details, divide comment
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/components/board.jsx
  packages/frontend/src/pages/community/components/comments.jsx
Due: fmt, frontend-eslint

fix: add unicode option
  packages/backend/src/util/ajv.ts
Due: fmt, backend-eslint

Co-authored-by: vi117 <vi117@users.noreply.github.com>
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/fundings/FundingsPay.jsx
  packages/frontend/src/pages/fundings/FundingsPay.module.css
Due: fmt, frontend-eslint

feat: social login
  packages/backend/src/users/authCodeRepo.ts
  packages/backend/src/users/googleLogin.ts
  packages/backend/src/users/router.ts
  packages/frontend/src/App.jsx
  packages/frontend/src/config.ts
  packages/frontend/src/pages/login/index.jsx
  packages/frontend/src/pages/sns_login/google.tsx
  packages/frontend/tsconfig.json
Due: fmt, frontend-eslint, backend-eslint

feat: add community edit page
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/co_edit.jsx
  packages/frontend/src/pages/community/styles/Co_detail.module.css
Due: fmt, frontend-eslint

fix: add meta column
  packages/backend/src/db/db.d.ts
  packages/backend/src/fundings/request_model.ts
Due: fmt, backend-eslint

feat: send funding request
  packages/backend/src/fundings/router.ts
  packages/backend/src/fundings/util.ts
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
  packages/frontend/src/pages/register/index.jsx
Due: fmt, frontend-eslint, backend-eslint

refactor: FundingWrite page
  packages/frontend/src/component/Editor.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
  packages/frontend/src/pages/fundings/component/Calender.jsx
  packages/frontend/src/pages/fundings/component/ItemList.jsx
Due: fmt, frontend-eslint

13:45 save
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/src/FundingsHome.css
Due: fmt, frontend-eslint

feat: funding detail page
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
Due: fmt, frontend-eslint

feat: add to request reward and tags
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/router.ts
  packages/backend/src/fundings/service.test.ts
  packages/backend/src/fundings/service.ts
Due: fmt, backend-eslint

feat: fix comunity deatil
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/components/board.jsx
Due: fmt, frontend-eslint

feat: useLogin hook
  packages/backend/src/users/googleLogin.ts
  packages/backend/src/users/jwt.ts
  packages/backend/src/users/router.ts
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/hook/useLogin.ts
Due: fmt, frontend-eslint, backend-eslint

feat: show login/logout with state
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/hook/useLogin.ts
  packages/frontend/src/pages/login/index.jsx
Due: fmt, frontend-eslint

fix: remove strict compare
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint

feat: 내정보페이지 추가, 내정보수정 추가
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/profile/edit/profileEdit.jsx
  packages/frontend/src/pages/profile/profile.css
  packages/frontend/src/pages/profile/profilePage.jsx
  packages/frontend/src/pages/register/index.jsx
Due: fmt, frontend-eslint

feat: funding setInterest
  packages/backend/src/db/util.ts
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint, backend-eslint

fix: 버튼 링크 수정
  packages/frontend/src/pages/profile/edit/profileEdit.jsx
  packages/frontend/src/pages/profile/profilePage.jsx
  packages/frontend/src/pages/register/index.jsx
  packages/frontend/src/pages/register/registerForm.module.css
Due: fmt, frontend-eslint

feat: fix community write/ add Editor(quill)
  packages/frontend/src/pages/community/co_edit.jsx
  packages/frontend/src/pages/community/co_write.jsx
  packages/frontend/src/pages/community/styles/Co_base.module.css
Due: fmt, frontend-eslint

doc: write TODO
  packages/frontend/src/hook/useLogin.ts
Due: fmt, frontend-eslint

feat: community list
  packages/backend/src/article/model.ts
  packages/backend/src/article/router.ts
  packages/frontend/src/pages/community/components/board.jsx
  packages/frontend/src/pages/community/components/category.jsx
Due: fmt, frontend-eslint, backend-eslint

fix: invalid style key
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/FundingsSearch.jsx
Due: fmt, frontend-eslint

refactor: extract constant
  packages/frontend/src/pages/community/co_edit.jsx
  packages/frontend/src/pages/community/co_write.jsx
  packages/frontend/src/pages/community/components/board.jsx
  packages/frontend/src/pages/community/components/category.jsx
  packages/frontend/src/pages/community/constant.ts
Due: fmt, frontend-eslint

fix: validate post input
  packages/backend/src/article/router.ts
Due: fmt, backend-eslint

feat: post article
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/co_write.jsx
  packages/frontend/src/pages/community/components/board.jsx
Due: fmt, frontend-eslint

feat: add aritcle tag
  packages/backend/src/article/model.ts
Due: fmt, backend-eslint

feat: FundingsPay 페이지 제작중
  packages/frontend/src/App.jsx
Due: fmt, frontend-eslint

feat: FundingsPay 페이지
  packages/frontend/src/pages/fundings/FundingsPay.jsx
  packages/frontend/src/pages/fundings/FundingsPay.module.css
Due: fmt, frontend-eslint

Path conditions:
  fmt: any of: *.{js,ts,jsx,tsx}
  frontend-eslint: any of: *.{js,ts,jsx,tsx} and ^packages/frontend/
  backend-eslint: any of: *.{js,ts,jsx,tsx} and ^packages/backend/
