Repository vi117/mc_final: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, frontend-eslint, backend-eslint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#

pre-commit:
  parallel: true
  commands:
    fmt:
      tags: frontend style
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run format {staged_files} && git add {staged_files}
    frontend-eslint:
      root: packages/frontend
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run --workspace frontend lint {staged_files}
    backend-eslint:
      root: packages/backend
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run --workspace backend lint {staged_files}
#    rubocop:
#      tags: backend style
#      glob: "*.rb"
#      exclude: "application.rb|routes.rb"
#      run: bundle exec rubocop --force-exclusion {all_files}
#    govet:
#      tags: backend style
#      files: git ls-files -m
#      glob: "*.go"
#      run: go vet {files}
#  scripts:
#    "hello.js":
#      runner: node
#    "any.go":
#      runner: go run

init(vi117): 🎉 리포지터리 준비
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  dprint.json
  lefthook.yml
  package-lock.json
  package.json
  packages/backend/.eslintrc.cjs
  packages/backend/README.md
  packages/backend/app.js
  packages/backend/bin/dotenv.mjs
  packages/backend/bin/www.mjs
  packages/backend/package.json
  packages/backend/routes/index.js
  packages/frontend/.eslintrc.cjs
  packages/frontend/.gitignore
  packages/frontend/README.md
  packages/frontend/index.html
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/public/vite.svg
  packages/frontend/src/App.css
  packages/frontend/src/App.jsx
  packages/frontend/src/component/layout/Layout.jsx
  packages/frontend/src/index.css
  packages/frontend/src/main.jsx
  packages/frontend/tsconfig.json
  packages/frontend/tsconfig.node.json
  packages/frontend/vite.config.ts
Due: fmt, frontend-eslint, backend-eslint

feat: add pages
  packages/frontend/src/App.jsx
Due: fmt, frontend-eslint

feat: add pages (#24)
  packages/frontend/src/App.jsx
Due: fmt, frontend-eslint

feat: add HomePage design
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/home/index.jsx
Due: fmt, frontend-eslint

feat: add HomePage design (#25)
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/home/index.jsx
Due: fmt, frontend-eslint

fundingsDetail : 컴포넌트생성
  .gitignore
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/fundings/fundings_detail.jsx
Due: fmt, frontend-eslint

FundingsDetail : 컴포넌트생성
  .gitignore
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint

feat: layout 디자인 보완
  package-lock.json
  package.json
  packages/frontend/.eslintrc.cjs
  packages/frontend/src/component/Logo.tsx
  packages/frontend/src/component/SearchBar.css
  packages/frontend/src/component/SearchBar.tsx
  packages/frontend/src/component/layout/Footer.tsx
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/component/layout/Layout.css
  packages/frontend/src/component/layout/Layout.jsx
Due: fmt, frontend-eslint

feat: layout 디자인 보완 (#32)
  package-lock.json
  package.json
  packages/frontend/.eslintrc.cjs
  packages/frontend/src/component/Logo.tsx
  packages/frontend/src/component/SearchBar.css
  packages/frontend/src/component/SearchBar.tsx
  packages/frontend/src/component/layout/Footer.tsx
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/component/layout/Layout.css
  packages/frontend/src/component/layout/Layout.jsx
Due: fmt, frontend-eslint

feat:add Home design
  package-lock.json
  packages/frontend/package.json
  packages/frontend/public/logo2.svg
  packages/frontend/public/sample.png
  packages/frontend/src/App.jsx
  packages/frontend/src/home/index.jsx
Due: fmt, frontend-eslint

format
  packages/frontend/src/home/index.jsx
Due: fmt, frontend-eslint

feat:add Home design
  package-lock.json
  packages/frontend/.eslintrc.cjs
  packages/frontend/package.json
  packages/frontend/public/sample.png
  packages/frontend/src/App.jsx
  packages/frontend/src/component/SearchBar.css
  packages/frontend/src/component/SearchBar.tsx
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/component/layout/Layout.css
  packages/frontend/src/index.css
  packages/frontend/src/pages/home/home.css
  packages/frontend/src/pages/home/index.jsx
Due: fmt, frontend-eslint

format
  packages/frontend/src/App.jsx
Due: fmt, frontend-eslint

remove duplicated svg
  packages/frontend/public/logo2.svg
Due: none

feat:add Home design (#33)
  package-lock.json
  packages/frontend/.eslintrc.cjs
  packages/frontend/package.json
  packages/frontend/public/sample.png
  packages/frontend/src/App.jsx
  packages/frontend/src/component/SearchBar.css
  packages/frontend/src/component/SearchBar.tsx
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/component/layout/Layout.css
  packages/frontend/src/index.css
  packages/frontend/src/pages/home/home.css
  packages/frontend/src/pages/home/index.jsx
Due: fmt, frontend-eslint

회원가입 페이지 기초
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/register/index.jsx
Due: fmt, frontend-eslint

230911 PM15:00 save
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint

add user
  package-lock.json
  packages/backend/.eslintrc.cjs
  packages/backend/README.md
  packages/backend/app.ts
  packages/backend/bin/dotenv.mjs
  packages/backend/bin/www.ts
  packages/backend/package.json
  packages/backend/src/db/util.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/users/dto.ts
  packages/backend/src/users/jwt.ts
  packages/backend/src/users/model.ts
  packages/backend/src/users/router.ts
  packages/backend/tsconfig.json
Due: fmt, backend-eslint

simple jwt login
  package-lock.json
  packages/backend/package.json
  packages/backend/src/users/jwt.ts
  packages/backend/src/users/router.ts
  packages/backend/src/users/type.d.ts
Due: fmt, backend-eslint

refactor code
  packages/backend/bin/www.ts
  packages/backend/package.json
  packages/backend/src/routes/index.ts
  packages/backend/src/users/jwt.ts
  packages/backend/src/users/type.d.ts
  packages/backend/src/users/type.js
Due: fmt, backend-eslint

refactor: function extract
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

add config
  packages/backend/package.json
Due: none

feat:community main 디자인
  packages/frontend/public/thumb.png
  packages/frontend/public/thumb2.png
  packages/frontend/src/pages/commu/assets/2d61acb1947426fe50825e64c51e61db.png
  packages/frontend/src/pages/commu/assets/img-user-default.png
  packages/frontend/src/pages/commu/commu.css
  packages/frontend/src/pages/commu/index.jsx
  packages/frontend/src/pages/commu/pagination.jsx
  packages/frontend/src/pages/commu/toggle/menu.jsx
  packages/frontend/src/pages/commu/toggle/toggle.jsx
Due: fmt, frontend-eslint

testing: login test
  package-lock.json
  packages/backend/bin/test.ts
  packages/backend/package.json
  packages/backend/src/db/util.ts
  packages/backend/src/users/jwt.ts
  packages/backend/src/users/model.ts
  packages/backend/src/users/router.test.ts
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

testing: replace node:test to jest
  package-lock.json
  packages/backend/.eslintrc.cjs
  packages/backend/app.ts
  packages/backend/bin/test.ts
  packages/backend/jest.config.js
  packages/backend/package.json
  packages/backend/src/users/router.test.ts
  packages/backend/tsconfig.json
Due: fmt, backend-eslint

feat(vi117): add user Api (#41)
  package-lock.json
  packages/backend/.eslintrc.cjs
  packages/backend/README.md
  packages/backend/app.ts
  packages/backend/bin/dotenv.mjs
  packages/backend/bin/www.ts
  packages/backend/jest.config.js
  packages/backend/package.json
  packages/backend/routes/index.js
  packages/backend/src/db/util.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/users/dto.ts
  packages/backend/src/users/jwt.ts
  packages/backend/src/users/model.ts
  packages/backend/src/users/router.test.ts
  packages/backend/src/users/router.ts
  packages/backend/src/users/type.d.ts
  packages/backend/src/users/type.js
  packages/backend/tsconfig.json
Due: fmt, backend-eslint

로그인 페이지 제작
  packages/frontend/src/pages/home/login/index.html
  packages/frontend/src/pages/home/login/login.js
  packages/frontend/src/pages/home/login/style.css
Due: fmt, frontend-eslint

feat: verify user
  package-lock.json
  packages/backend/.eslintrc.cjs
  packages/backend/README.md
  packages/backend/app.ts
  packages/backend/jest.config.js
  packages/backend/package.json
  packages/backend/src/db/util.ts
  packages/backend/src/mail/service.ts
  packages/backend/src/users/authCodeRepo.ts
  packages/backend/src/users/model.ts
  packages/backend/src/users/router.test.ts
  packages/backend/src/users/router.ts
  packages/backend/tsconfig.json
Due: fmt, backend-eslint

feat:commuity home design(2)
  packages/frontend/src/pages/commu/assets/sampledata.jsx
  packages/frontend/src/pages/commu/commu.css
  packages/frontend/src/pages/commu/index.jsx
  packages/frontend/src/pages/commu/pagination.jsx
  packages/frontend/src/pages/commu/toggle/menu.jsx
Due: fmt, frontend-eslint

decorate function catch
  packages/backend/src/users/router.ts
  packages/backend/src/util/util.ts
Due: fmt, backend-eslint

chore: test
  package.json
  packages/frontend/package.json
Due: none

chore: add dprint excludes
  dprint.json
Due: none

refactor move user
  packages/backend/src/users/dto.ts
  packages/backend/src/users/jwt.ts
  packages/backend/src/users/model.ts
Due: fmt, backend-eslint

fix transaction bug
  packages/backend/src/db/util.ts
Due: fmt, backend-eslint

add validator
  package-lock.json
  packages/backend/package.json
  packages/backend/src/users/model.ts
  packages/backend/src/users/router.ts
  packages/backend/src/util/ajv.ts
Due: fmt, backend-eslint

remove dead comment
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

move
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

feat(user): add Mail verify (#46)
  dprint.json
  package-lock.json
  package.json
  packages/backend/.eslintrc.cjs
  packages/backend/README.md
  packages/backend/app.ts
  packages/backend/jest.config.js
  packages/backend/package.json
  packages/backend/src/db/util.ts
  packages/backend/src/mail/service.ts
  packages/backend/src/users/authCodeRepo.ts
  packages/backend/src/users/dto.ts
  packages/backend/src/users/jwt.ts
  packages/backend/src/users/model.ts
  packages/backend/src/users/router.test.ts
  packages/backend/src/users/router.ts
  packages/backend/src/util/ajv.ts
  packages/backend/src/util/util.ts
  packages/backend/tsconfig.json
  packages/frontend/package.json
Due: fmt, backend-eslint

testing: config swcrc
  package-lock.json
  packages/backend/.swcrc
  packages/backend/package.json
Due: none

testing: config swcrc (#47)
  package-lock.json
  packages/backend/.swcrc
  packages/backend/package.json
Due: none
