Repository vi117/mc_final: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, frontend-eslint, backend-eslint

fmt:
  tags: frontend style
  run: npm run format {staged_files} && git add {staged_files}

frontend-eslint:
  run: npm run --workspace frontend lint {staged_files}

backend-eslint:
  run: npm run --workspace backend lint {staged_files}

fix: funding pay for phone number
  packages/frontend/src/pages/fundings/FundingsPay.jsx
Due: fmt, frontend-eslint

fix: reduce bundle size
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/App.jsx
  packages/frontend/src/component/Calender/Calender.module.css
  packages/frontend/src/component/Calender/Calender.tsx
  packages/frontend/src/component/Calender/LazyCalender.tsx
  packages/frontend/src/component/Calender/datepicker.css
  packages/frontend/src/component/Calender/index.tsx
  packages/frontend/src/component/Editor.tsx
  packages/frontend/src/component/Editor/Editor.tsx
  packages/frontend/src/component/Editor/LazyEditor.tsx
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint

feat: query funding participated users
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/router.ts
  packages/dto/index.d.ts
  packages/frontend/src/hook/useFundingUsers.ts
Due: fmt, frontend-eslint, backend-eslint

fix : 펀딩 수정, 디테일 css fix
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
Due: fmt, frontend-eslint

refactor: use container
  packages/frontend/src/component/Container.module.css
  packages/frontend/src/component/Container.tsx
  packages/frontend/src/pages/fundings/FundingWrite.module.css
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/FundingsHome.module.css
  packages/frontend/src/pages/fundings/FundingsPay.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint

refactor: move progressbar css
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/component/Item.tsx
  packages/frontend/src/pages/fundings/component/progressbar.css
Due: fmt, frontend-eslint

refactor: move Dialog Modals
  packages/frontend/src/component/DialogModal/AlertModal.tsx
  packages/frontend/src/component/DialogModal/ConfirmModal.tsx
  packages/frontend/src/component/DialogModal/PromptModal.tsx
  packages/frontend/src/component/DialogModal/index.tsx
  packages/frontend/src/hook/useAlertModal.tsx
  packages/frontend/src/hook/useConfirmModal.tsx
  packages/frontend/src/hook/usePromptModal.tsx
Due: fmt, frontend-eslint

fix: invalid event handler
  packages/frontend/src/pages/profile/edit/profileEdit.jsx
Due: fmt, frontend-eslint

fix: supress type error
  packages/frontend/src/component/SearchModalBasic.tsx
Due: fmt, frontend-eslint

feat: edit css (profile)
  packages/frontend/src/pages/community/components/co_writemodal.tsx
  packages/frontend/src/pages/community/styles/Community.module.css
  packages/frontend/src/pages/forgot-password/forgot.module.css
  packages/frontend/src/pages/forgot-password/index.jsx
  packages/frontend/src/pages/profile/edit/profileEdit.module.css
  packages/frontend/src/pages/profile/profile.css
  packages/frontend/src/pages/profile/profileLikeList.tsx
  packages/frontend/src/pages/profile/profilePage.module.css
  packages/frontend/src/pages/profile/profilePage.tsx
Due: fmt, frontend-eslint

fix: disable button if funding is ended
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint

refactor: extract co_wrtiemodal css
  packages/frontend/src/pages/community/co_write.jsx
  packages/frontend/src/pages/community/components/co_writemodal.tsx
  packages/frontend/src/pages/community/styles/Co_base.module.css
  packages/frontend/src/pages/community/styles/Community.module.css
  packages/frontend/src/pages/community/styles/co_writemodal.module.css
Due: fmt, frontend-eslint

feat: edit css / at profile
  packages/frontend/src/pages/forgot-password/forgot.module.css
  packages/frontend/src/pages/profile/edit/profileEdit.jsx
  packages/frontend/src/pages/profile/edit/profileEdit.module.css
  packages/frontend/src/pages/profile/profilePage.tsx
  packages/frontend/src/pages/reset-password/index.jsx
  packages/frontend/src/pages/reset-password/reset-password.module.css
Due: fmt, frontend-eslint

feat: add funding review input
  packages/frontend/src/pages/community/co_edit.jsx
Due: fmt, frontend-eslint

fix : 호스트프로필페이지 css 수정
  packages/frontend/src/pages/profile/hostProfileview.module.css
Due: none

fix : 펀딩 수정 CSS fix
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
Due: fmt, frontend-eslint

feat: check funding users
  packages/frontend/src/App.jsx
  packages/frontend/src/component/Container.tsx
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/fundings/FundingUsers.module.css
  packages/frontend/src/pages/fundings/FundingUsers.tsx
Due: fmt, frontend-eslint

fix : 파일 이름 수정(FundingsWrite), import fix
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.module.css
  packages/frontend/src/pages/fundings/component/RewardItemList.jsx
Due: fmt, frontend-eslint

feat: download csv
  packages/backend/src/fundings/router.ts
  packages/frontend/src/pages/fundings/FundingUsers.tsx
Due: fmt, frontend-eslint, backend-eslint

fix: community report
  packages/frontend/src/api/article.ts
  packages/frontend/src/pages/admin/index.tsx
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/components/report.jsx
Due: fmt, frontend-eslint

feat: check funding request
  packages/frontend/src/hook/useFundingRequestById.ts
Due: fmt, frontend-eslint

fix: add funding request id
  packages/backend/src/db/db.d.ts
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/service.ts
  packages/dto/index.d.ts
Due: fmt, backend-eslint

Co-authored-by: vi117 <vi117@users.noreply.github.com>
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/admin/request/index.jsx
  packages/frontend/src/pages/admin/request/index.module.css
Due: fmt, frontend-eslint

fix: participated condition
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint

feat: edit css (Community, Profile page, Header)
  packages/frontend/src/component/layout/Header.module.css
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/pages/admin/admin.module.css
  packages/frontend/src/pages/admin/index.tsx
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/community.jsx
  packages/frontend/src/pages/community/styles/Co_detail.module.css
  packages/frontend/src/pages/community/styles/Community.module.css
  packages/frontend/src/pages/community/styles/carousel.css
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
  packages/frontend/src/pages/profile/profileLikeList.tsx
  packages/frontend/src/pages/profile/profilePage.module.css
  packages/frontend/src/pages/profile/profilePage.tsx
Due: fmt, frontend-eslint

refactor: rename upload avatar
  packages/frontend/src/component/UploadAvatar/Upload.module.css
  packages/frontend/src/component/UploadAvatar/index.tsx
  packages/frontend/src/pages/register/index.jsx
Due: fmt, frontend-eslint

refactor: simplify condition
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint

fix: type error
  packages/frontend/src/hook/useFundingRequestById.ts
Due: fmt, frontend-eslint

feat: upload files component
  packages/frontend/src/component/UploadFile/hook.ts
  packages/frontend/src/component/UploadFile/index.tsx
  packages/frontend/src/component/UploadFile/upload.module.css
Due: fmt, frontend-eslint

feat: add account_bank_name
  packages/backend/src/fundings/router.ts
  packages/dto/index.d.ts
  packages/frontend/src/api/funding.ts
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint, backend-eslint

feat: edit data view
  packages/backend/src/fundings/router.ts
  packages/backend/src/fundings/util.ts
  packages/frontend/src/api/funding.ts
  packages/frontend/src/component/UploadFile/hook.ts
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
Due: fmt, frontend-eslint, backend-eslint

feat: add id to FundingRewardInput
  packages/backend/src/fundings/util.ts
  packages/dto/index.d.ts
Due: fmt, backend-eslint

fix: duplicated
  packages/backend/src/fundings/util.ts
Due: fmt, backend-eslint

feat: edit css (profilelikelist)
  packages/frontend/src/index.css
  packages/frontend/src/pages/profile/profileLikeList.tsx
  packages/frontend/src/pages/profile/profilePage.module.css
  packages/frontend/src/pages/profile/profilePage.tsx
Due: fmt, frontend-eslint

fix: admin funding request
  packages/frontend/src/pages/admin/index.tsx
  packages/frontend/src/pages/admin/request/index.jsx
Due: fmt, frontend-eslint

feat: patch profiles image
  packages/backend/src/users/jwt.ts
  packages/backend/src/users/router.ts
  packages/frontend/src/api/user.ts
  packages/frontend/src/hook/useLogin.ts
  packages/frontend/src/pages/profile/edit/profileEdit.jsx
  packages/frontend/src/pages/profile/profilePage.tsx
Due: fmt, frontend-eslint, backend-eslint

fix: show profile image
  packages/frontend/src/pages/profile/profilePage.tsx
Due: fmt, frontend-eslint

feat: funding edit
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/router.ts
  packages/backend/src/fundings/service.ts
  packages/backend/src/fundings/util.ts
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
Due: fmt, frontend-eslint, backend-eslint

feat: check validate
  packages/frontend/src/component/ValidationForm/Form.tsx
  packages/frontend/src/component/ValidationForm/Input.jsx
  packages/frontend/src/component/ValidationForm/Input.module.css
  packages/frontend/src/component/ValidationForm/context.ts
  packages/frontend/src/pages/profile/edit/profileEdit.jsx
  packages/frontend/src/pages/register/index.jsx
Due: fmt, frontend-eslint

feat: edit css(withdrawl page)
  packages/frontend/src/index.css
  packages/frontend/src/pages/profile/profilePage.module.css
  packages/frontend/src/pages/withdrawal/index.jsx
  packages/frontend/src/pages/withdrawal/withdrawal.module.css
Due: fmt, frontend-eslint

Path conditions:
  fmt: any of: *.{js,ts,jsx,tsx}
  frontend-eslint: any of: *.{js,ts,jsx,tsx} and ^packages/frontend/
  backend-eslint: any of: *.{js,ts,jsx,tsx} and ^packages/backend/
