Repository vi117/mc_final: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, frontend-eslint, backend-eslint

fmt:
  tags: frontend style
  run: npm run format {staged_files} && git add {staged_files}

frontend-eslint:
  run: npm run --workspace frontend lint {staged_files}

backend-eslint:
  run: npm run --workspace backend lint {staged_files}

testing: add userVerify, login test
  packages/backend/src/users/__mocks__/model.ts
  packages/backend/src/users/authCodeRepo.ts
  packages/backend/src/users/router.test.ts
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

chore: turn off test autorun
  .vscode/settings.json
Due: none

testing(user): add user verify, login test (#56)
  .vscode/settings.json
  packages/backend/src/users/__mocks__/model.ts
  packages/backend/src/users/authCodeRepo.ts
  packages/backend/src/users/router.test.ts
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

chore: remove .vscode folder
  .gitignore
  .vscode/settings.json
Due: none

chore: remove .vscode folder (#57)
  .gitignore
  .vscode/settings.json
Due: none

chore: unused pacakge
  package-lock.json
  package.json
  packages/backend/package.json
  packages/frontend/src/pages/home/index.jsx
Due: fmt, frontend-eslint

chore: unused pacakge (#58)
  package-lock.json
  package.json
  packages/backend/package.json
  packages/frontend/src/pages/home/index.jsx
Due: fmt, frontend-eslint

feat: 펀딩 작성 페이지 구성1
  package-lock.json
  package.json
  packages/frontend/package.json
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint

feat:community home design(4)
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/commu/Routes/write.css
  packages/frontend/src/pages/commu/assets/sampledata.jsx
  packages/frontend/src/pages/commu/commu.css
  packages/frontend/src/pages/commu/index.jsx
  packages/frontend/src/pages/community/assets/2d61acb1947426fe50825e64c51e61db.png
  packages/frontend/src/pages/community/assets/boardlist.jsx
  packages/frontend/src/pages/community/assets/cssValue.css
  packages/frontend/src/pages/community/assets/img-user-default.png
  packages/frontend/src/pages/community/assets/pencil.svg
  packages/frontend/src/pages/community/assets/sampledata.jsx
  packages/frontend/src/pages/community/co_write.jsx
  packages/frontend/src/pages/community/community.jsx
  packages/frontend/src/pages/community/components/board.jsx
  packages/frontend/src/pages/community/components/category.jsx
  packages/frontend/src/pages/community/components/menu.jsx
  packages/frontend/src/pages/community/components/pagination.jsx
  packages/frontend/src/pages/community/components/toggle.jsx
  packages/frontend/src/pages/community/styles/co_write.css
  packages/frontend/src/pages/community/styles/community.css
Due: fmt, frontend-eslint

feat: 펀딩 작성 페이지 구성1 (#59)
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint

feat: 프로필사진 기능, 회원가입폼 css 기능추가
  packages/frontend/src/pages/register/index.jsx
  packages/frontend/src/pages/register/registerForm.css
  packages/frontend/src/pages/uploadcomponent/Upload.css
  packages/frontend/src/pages/uploadcomponent/Upload.jsx
Due: fmt, frontend-eslint

feat: check permission
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/router.ts
Due: fmt, backend-eslint

fix: check funding_state
  packages/backend/src/fundings/request_model.ts
  packages/backend/src/fundings/router.ts
  packages/backend/src/fundings/service.ts
Due: fmt, backend-eslint

feat: 회원탈퇴 게시판
  packages/frontend/src/pages/withdrawal/index.html
  packages/frontend/src/pages/withdrawal/withdrawal.css
Due: none

style: 상단 package 삭제, index 이름순서변경 feat: 회원가입약관 기능 추가
  package-lock.json
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/pages/register/index.jsx
  packages/frontend/src/pages/register/registerArgee.js
Due: fmt, frontend-eslint

feat: interest
  packages/backend/src/fundings/funding_model.test.ts
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/request_model.test.ts
  packages/backend/src/fundings/request_model.ts
  packages/backend/src/fundings/router.ts
Due: fmt, backend-eslint

feat(funding): add interest and new query param (#61)
  packages/backend/src/fundings/funding_model.test.ts
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/request_model.test.ts
  packages/backend/src/fundings/request_model.ts
  packages/backend/src/fundings/router.ts
  packages/backend/src/fundings/service.ts
Due: fmt, backend-eslint

style: short lineWidth to 80
  dprint.json
  packages/backend/src/db/mockDB.ts
  packages/backend/src/db/util.ts
  packages/backend/src/fundings/service.test.ts
  packages/backend/src/users/jwt.ts
  packages/backend/src/users/router.test.ts
  packages/backend/src/users/router.ts
  packages/backend/src/util/util.ts
  packages/frontend/src/App.jsx
  packages/frontend/src/component/Logo.tsx
  packages/frontend/src/component/layout/Footer.tsx
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
  packages/frontend/src/pages/login/index.jsx
Due: fmt, frontend-eslint, backend-eslint

style: short lineWidth to 80 (#62)
  dprint.json
  packages/backend/src/db/mockDB.ts
  packages/backend/src/db/util.ts
  packages/backend/src/fundings/service.test.ts
  packages/backend/src/users/jwt.ts
  packages/backend/src/users/router.test.ts
  packages/backend/src/users/router.ts
  packages/backend/src/util/util.ts
  packages/frontend/src/App.jsx
  packages/frontend/src/component/Logo.tsx
  packages/frontend/src/component/layout/Footer.tsx
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
  packages/frontend/src/pages/login/index.jsx
Due: fmt, frontend-eslint, backend-eslint

feat:community (5)
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/community/assets/sampledata.jsx
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/components/board.jsx
  packages/frontend/src/pages/community/styles/co_detail.css
Due: fmt, frontend-eslint

Revert "회원가입 페이지 기초"
  package-lock.json
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/register/index.jsx
  packages/frontend/src/pages/register/registerArgee.js
  packages/frontend/src/pages/register/registerForm.css
  packages/frontend/src/pages/uploadcomponent/Upload.css
  packages/frontend/src/pages/uploadcomponent/Upload.jsx
Due: fmt, frontend-eslint

Revert "회원가입 페이지 기초" (#63)
  package-lock.json
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/register/index.jsx
  packages/frontend/src/pages/register/registerArgee.js
  packages/frontend/src/pages/register/registerForm.css
  packages/frontend/src/pages/uploadcomponent/Upload.css
  packages/frontend/src/pages/uploadcomponent/Upload.jsx
Due: fmt, frontend-eslint

fix: right codegen path
  packages/backend/package.json
Due: none

style
  package-lock.json
  packages/frontend/package.json
Due: none

move db type
  packages/backend/src/db/db.d.ts
  packages/backend/src/db/db.js
  packages/backend/src/db/mockDB.ts
  packages/backend/src/db/util.ts
Due: fmt, backend-eslint

Merge branch 'main' of https://github.com/vi117/mc_final
  packages/frontend/package-lock.json
Due: none

feat: funding participate
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/request_model.ts
  packages/backend/src/fundings/router.ts
  packages/backend/src/fundings/service.ts
  packages/backend/src/users/model.ts
  packages/backend/src/users/router.ts
  packages/backend/src/util/ajv.ts
Due: fmt, backend-eslint

feat: impl funding participate (#64)
  packages/backend/package.json
  packages/backend/src/db/db.d.ts
  packages/backend/src/db/db.js
  packages/backend/src/db/mockDB.ts
  packages/backend/src/db/util.ts
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/request_model.ts
  packages/backend/src/fundings/router.ts
  packages/backend/src/fundings/service.ts
  packages/backend/src/users/model.ts
  packages/backend/src/users/router.ts
  packages/backend/src/util/ajv.ts
Due: fmt, backend-eslint

chore: linter type
  packages/backend/.eslintrc.cjs
  packages/frontend/.eslintrc.cjs
Due: none

chore: remove meaningless package-lock.json
  packages/frontend/package-lock.json
Due: none

email type
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

chore: remove meaningless package-lock.json (#65)
  packages/backend/.eslintrc.cjs
  packages/backend/src/users/router.ts
  packages/frontend/.eslintrc.cjs
  packages/frontend/package-lock.json
Due: fmt, backend-eslint

feat: community (5)
  packages/frontend/src/pages/community/assets/2d61acb1947426fe50825e64c51e61db.png
  packages/frontend/src/pages/community/assets/user.png
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/styles/co_detail.css
Due: fmt, frontend-eslint

docs: add PR content to README
  README.md
Due: none

docs: add PR content to README (#66)
  README.md
Due: none

feat: insert layout link
  packages/frontend/src/App.jsx
  packages/frontend/src/component/layout/Header.tsx
Due: fmt, frontend-eslint

feat: insert layout link (#67)
  packages/frontend/src/App.jsx
  packages/frontend/src/component/layout/Header.tsx
Due: fmt, frontend-eslint

feat: 일단 빈페이지(펀딩수정,홈,검색)
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/FundingsSearch.jsx
Due: fmt, frontend-eslint

feat: 일단 빈페이지(펀딩수정,홈,검색) (#68)
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/FundingsSearch.jsx
Due: fmt, frontend-eslint

Path conditions:
  fmt: any of: *.{js,ts,jsx,tsx}
  frontend-eslint: any of: *.{js,ts,jsx,tsx} and ^packages/frontend/
  backend-eslint: any of: *.{js,ts,jsx,tsx} and ^packages/backend/
