Repository vi117/mc_final: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, frontend-eslint, backend-eslint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#

pre-commit:
  parallel: true
  commands:
    fmt:
      tags: frontend style
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run format {staged_files} && git add {staged_files}
    frontend-eslint:
      root: packages/frontend
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run --workspace frontend lint {staged_files}
    backend-eslint:
      root: packages/backend
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run --workspace backend lint {staged_files}
#    rubocop:
#      tags: backend style
#      glob: "*.rb"
#      exclude: "application.rb|routes.rb"
#      run: bundle exec rubocop --force-exclusion {all_files}
#    govet:
#      tags: backend style
#      files: git ls-files -m
#      glob: "*.go"
#      run: go vet {files}
#  scripts:
#    "hello.js":
#      runner: node
#    "any.go":
#      runner: go run

feat: register articleRouter
  packages/backend/src/routes/index.ts
Due: fmt, backend-eslint

feat: login give more infomation
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

feat: post article and comments
  packages/backend/src/article/model.ts
  packages/backend/src/article/router.ts
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/router.ts
  packages/backend/src/routes/index.ts
Due: fmt, backend-eslint

feat: 회원 탈퇴 페이지 수정
  packages/frontend/src/pages/withdrawal/images/logo.svg
  packages/frontend/src/pages/withdrawal/index.jsx
  packages/frontend/src/pages/withdrawal/withdrawal.module.css
Due: fmt, frontend-eslint

feat: community detail/ 수정-삭제 토글+삭제alert
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/community.jsx
  packages/frontend/src/pages/community/components/pagination.jsx
  packages/frontend/src/pages/community/styles/Co_base.module.css
  packages/frontend/src/pages/community/styles/Co_detail.module.css
  packages/frontend/src/pages/community/styles/Community.module.css
Due: fmt, frontend-eslint

feat: 이메일 검증 수정, 비밀번호 검증 추가
  packages/frontend/src/pages/register/index.jsx
Due: fmt, frontend-eslint

fix: 회원 탈퇴 페이지
  packages/frontend/src/pages/withdrawal/index.jsx
  packages/frontend/src/pages/withdrawal/withdrawal.module.css
Due: fmt, frontend-eslint

fix: register css디자인 수정
  packages/frontend/src/pages/register/index.jsx
  packages/frontend/src/pages/register/registerForm.module.css
Due: fmt, frontend-eslint

refactor(login): extract svg
  packages/frontend/src/pages/login/index.jsx
Due: fmt, frontend-eslint

feat: change verification code to jwt
  packages/backend/src/users/authCodeRepo.ts
Due: fmt, backend-eslint

refactor: extract send verification code mail
  packages/backend/src/users/router.ts
  packages/backend/src/users/sendmail.ts
Due: fmt, backend-eslint

doc(funding): define funding_request object type
  packages/backend/src/fundings/request_model.ts
Due: fmt, backend-eslint

feat: resend verification code
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

feat: upload file to local
  package-lock.json
  packages/backend/app.ts
  packages/backend/package.json
  packages/backend/src/file/multer.ts
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

feat: login server
  packages/frontend/src/pages/login/index.jsx
Due: fmt, frontend-eslint

fix: change route api dist
  packages/backend/app.ts
Due: fmt, backend-eslint

feat: modal 기능 추가
  packages/frontend/src/pages/register/index.jsx
Due: fmt, frontend-eslint

feat: add funding upload handler
  packages/backend/src/fundings/router.ts
Due: fmt, backend-eslint

Co-authored-by: vi117 <vi117@users.noreply.github.com>
  packages/frontend/src/pages/withdrawal/index.jsx
  packages/frontend/src/pages/withdrawal/withdrawal.module.css
Due: fmt, frontend-eslint

fix: 회원 탈퇴 페이지 수정 완료
  packages/frontend/src/pages/withdrawal/index.jsx
Due: fmt, frontend-eslint

feat: community main/create filtering modal
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/community.jsx
  packages/frontend/src/pages/community/components/board.jsx
  packages/frontend/src/pages/community/styles/Co_detail.module.css
  packages/frontend/src/pages/community/styles/Community.module.css
Due: fmt, frontend-eslint

refactor: extract cond that test dupl key
  packages/backend/src/db/util.ts
  packages/backend/src/fundings/router.ts
  packages/backend/src/users/router.test.ts
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

feat: add like article handler
  packages/backend/src/article/model.ts
  packages/backend/src/article/router.ts
  packages/backend/src/article/service.ts
  packages/backend/src/fundings/funding_model.ts
Due: fmt, backend-eslint

feat: article update handler
  packages/backend/src/article/model.ts
  packages/backend/src/article/router.ts
Due: fmt, backend-eslint

feat: refactoring- board/category 분리
  packages/frontend/src/pages/community/assets/sampledata.js
  packages/frontend/src/pages/community/components/board.jsx
  packages/frontend/src/pages/community/components/category.jsx
Due: fmt, frontend-eslint

feat: 모달 내용(회원가입 약관) 추가
  packages/frontend/src/pages/register/index.jsx
  packages/frontend/src/pages/register/registerArgee/argeeStyle.css
  packages/frontend/src/pages/register/registerArgee/index.jsx
  packages/frontend/src/pages/register/registerArgeeModal.jsx
Due: fmt, frontend-eslint

feat: load community data
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/pages/community/components/board.jsx
Due: fmt, frontend-eslint

fix: dependencies and svg plugin
  package-lock.json
  package.json
  packages/frontend/package.json
  packages/frontend/src/pages/community/assets/Alarm.svg
  packages/frontend/src/pages/community/assets/Heart-Linear.svg
  packages/frontend/src/pages/community/assets/more.svg
  packages/frontend/src/pages/community/assets/pencil.svg
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/components/category.jsx
  packages/frontend/tsconfig.json
  packages/frontend/vite.config.ts
Due: fmt, frontend-eslint

fix :
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint

fix: invaild attrbute name for react
  packages/frontend/src/pages/login/index.jsx
Due: fmt, frontend-eslint

chore: install npm-merge-driver
  package.json
Due: none

feat: reset-password 페이지
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/reset-password/index.jsx
  packages/frontend/src/pages/reset-password/reset-password.module.css
  packages/frontend/src/pages/withdrawal/index.jsx
Due: fmt, frontend-eslint

fix: static image link
  packages/frontend/src/pages/home/index.jsx
Due: fmt, frontend-eslint

feat: delete comment handler
  packages/backend/src/article/router.ts
Due: fmt, backend-eslint

feat: add category filter
  packages/backend/src/article/model.ts
  packages/backend/src/article/router.ts
Due: fmt, backend-eslint

fix: reset-password 페이지 수정 완료
  packages/frontend/src/pages/reset-password/index.jsx
  packages/frontend/src/pages/reset-password/reset-password.module.css
Due: fmt, frontend-eslint

feat: report article handler
  packages/backend/src/article/model.ts
  packages/backend/src/article/router.ts
Due: fmt, backend-eslint

feat: load FundingsHome data and fix: etc
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint

fix
  packages/frontend/src/App.jsx
Due: fmt, frontend-eslint

feat: upload image for S3 Compatible Storage
  package-lock.json
  packages/backend/bin/www.ts
  packages/backend/package.json
  packages/backend/src/file/minioEngine.ts
  packages/backend/src/file/multer.ts
  packages/backend/src/file/multer_file.d.ts
  packages/backend/src/file/multer_file.js
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint
