Repository vi117/mc_final: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, frontend-eslint, backend-eslint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#

pre-commit:
  parallel: true
  commands:
    fmt:
      tags: frontend style
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run format {staged_files} && git add {staged_files}
    frontend-eslint:
      root: packages/frontend
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run --workspace frontend lint {staged_files}
    backend-eslint:
      root: packages/backend
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run --workspace backend lint {staged_files}
#    rubocop:
#      tags: backend style
#      glob: "*.rb"
#      exclude: "application.rb|routes.rb"
#      run: bundle exec rubocop --force-exclusion {all_files}
#    govet:
#      tags: backend style
#      files: git ls-files -m
#      glob: "*.go"
#      run: go vet {files}
#  scripts:
#    "hello.js":
#      runner: node
#    "any.go":
#      runner: go run

add article findAll
  packages/backend/src/article/model.ts
  packages/backend/src/article/router.ts
Due: fmt, backend-eslint

feat: add findByOne
  packages/backend/src/article/model.ts
Due: fmt, backend-eslint

feat: impl ArticleRepository partly (#69)
  packages/backend/src/article/model.ts
  packages/backend/src/article/router.ts
Due: fmt, backend-eslint

feat: insert nav link
  packages/frontend/src/pages/community/community.jsx
Due: fmt, frontend-eslint

refactor: remove duplicated css
  packages/frontend/src/index.css
  packages/frontend/src/pages/community/styles/co_write.css
  packages/frontend/src/pages/community/styles/community.css
Due: none

refactor: remove unused css :root
  packages/frontend/src/pages/community/styles/co_detail.css
Due: none

feat: add NavLink to Header and FundingDetail
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint

chore: package-lock.json now merge as binary
  .gitattributes
Due: none

chore: remvoe unused file
  packages/frontend/.gitignore
  test.py
Due: none

feat: route register page
  packages/frontend/src/App.jsx
Due: fmt, frontend-eslint

feat: create Funding Home Page
  packages/frontend/src/pages/fundings/FundingsHome.jsx
Due: fmt, frontend-eslint

fix: replace wrong anchor tag to NavLink
  packages/frontend/src/pages/login/index.jsx
Due: fmt, frontend-eslint

fix: 잘못된 SubmitHandler 호출
  packages/frontend/src/pages/register/index.jsx
Due: fmt, frontend-eslint

feat: create community id:detail
  package-lock.json
  package.json
  packages/frontend/src/pages/community/assets/Alarm.svg
  packages/frontend/src/pages/community/assets/Heart-Linear.svg
  packages/frontend/src/pages/community/assets/cat.jpg
  packages/frontend/src/pages/community/assets/commentsample.jsx
  packages/frontend/src/pages/community/assets/more.svg
  packages/frontend/src/pages/community/assets/sampledata.jsx
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/components/board.jsx
  packages/frontend/src/pages/community/components/category.jsx
  packages/frontend/src/pages/community/styles/co_detail.css
  packages/frontend/src/pages/community/styles/co_write.css
  packages/frontend/src/pages/community/styles/community.css
  packages/frontend/vite.config.ts
Due: fmt, frontend-eslint

fix: Resolve incorrectly positioned dependencies
  package-lock.json
  package.json
  packages/frontend/package.json
Due: none

style: replace the react file with jsx extension
  packages/frontend/src/pages/register/registerArgee.jsx
Due: fmt, frontend-eslint

fix: clear Invalid merge separator
  packages/frontend/src/index.css
Due: none

style: remove comment uesless
  packages/frontend/src/App.jsx
Due: fmt, frontend-eslint

fix: style of login button and link
  packages/frontend/src/pages/login/index.jsx
  packages/frontend/src/pages/login/style.module.css
Due: fmt, frontend-eslint

feat : 커밋 푸시 테스트
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
Due: fmt, frontend-eslint

chore: remove unused .prettierrc
  packages/frontend/src/pages/community/.prettierrc
Due: none

chore: install typescript-plugin-css-module
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/global.d.ts
  packages/frontend/tsconfig.json
Due: fmt, frontend-eslint

rename: sampledata.jsx to sampledata.js
  packages/frontend/src/pages/community/assets/sampledata.js
Due: fmt, frontend-eslint

refactor: change to css module
  packages/frontend/src/component/layout/Footer.module.css
  packages/frontend/src/component/layout/Footer.tsx
  packages/frontend/src/component/layout/Header.module.css
  packages/frontend/src/component/layout/Header.tsx
Due: fmt, frontend-eslint

rename: react component to PascalCase
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/co_write.jsx
  packages/frontend/src/pages/community/community.jsx
Due: fmt, frontend-eslint

fix: change to module css
  packages/frontend/src/component/SearchBar.module.css
  packages/frontend/src/component/SearchBar.tsx
  packages/frontend/src/component/layout/Layout.jsx
  packages/frontend/src/index.css
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/co_write.jsx
  packages/frontend/src/pages/community/community.jsx
  packages/frontend/src/pages/community/components/board.jsx
  packages/frontend/src/pages/community/components/menu.jsx
  packages/frontend/src/pages/community/components/pagination.jsx
  packages/frontend/src/pages/community/styles/Co_base.module.css
  packages/frontend/src/pages/community/styles/Co_detail.module.css
  packages/frontend/src/pages/community/styles/Co_write.module.css
  packages/frontend/src/pages/community/styles/Community.module.css
Due: fmt, frontend-eslint

rename: pascalcase
  packages/frontend/src/pages/community/community.jsx
  packages/frontend/src/pages/community/components/board.jsx
Due: fmt, frontend-eslint

rename: jsx to js
  packages/frontend/src/pages/community/assets/boardlist.js
  packages/frontend/src/pages/community/assets/commentsample.js
Due: fmt, frontend-eslint

remove: smtp test py
  test.py
Due: none

fix: remove invalid path
  packages/frontend/src/App.jsx
Due: fmt, frontend-eslint

chore: apply lint rule jsx-file-extension
  packages/frontend/.eslintrc.cjs
Due: none

chore: set proxy for api server
  packages/frontend/vite.config.ts
Due: fmt, frontend-eslint

Co-authored-by: vi117 <vi117@users.noreply.github.com>
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/App.jsx
  packages/frontend/src/index.css
  packages/frontend/src/pages/withdrawal/index.jsx
  packages/frontend/src/pages/withdrawal/withdrawal.module.css
Due: fmt, frontend-eslint

chore: fix invalid workspaces
  package-lock.json
  package.json
Due: none

refactor: query number param check
  packages/backend/src/fundings/router.ts
  packages/backend/src/util/query_param.ts
Due: fmt, backend-eslint

refactor: extract parse query to string list
  packages/backend/src/fundings/router.ts
Due: fmt, backend-eslint

refactor: user router query param
  packages/backend/src/users/router.ts
  packages/backend/src/util/query_param.ts
Due: fmt, backend-eslint

fix: generate join if user_id exist
  packages/backend/src/fundings/funding_model.ts
Due: fmt, backend-eslint

feat: get article
  packages/backend/src/article/model.ts
  packages/backend/src/article/router.ts
Due: fmt, backend-eslint

fix: limit home logo length
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
  packages/frontend/src/pages/home/home.css
  packages/frontend/src/pages/home/index.jsx
Due: fmt, frontend-eslint
