Repository vi117/mc_final: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, frontend-eslint, backend-eslint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#

pre-commit:
  parallel: true
  commands:
    fmt:
      tags: frontend style
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run format {staged_files} && git add {staged_files}
    frontend-eslint:
      root: packages/frontend
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run --workspace frontend lint {staged_files}
    backend-eslint:
      root: packages/backend
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run --workspace backend lint {staged_files}
#    rubocop:
#      tags: backend style
#      glob: "*.rb"
#      exclude: "application.rb|routes.rb"
#      run: bundle exec rubocop --force-exclusion {all_files}
#    govet:
#      tags: backend style
#      files: git ls-files -m
#      glob: "*.go"
#      run: go vet {files}
#  scripts:
#    "hello.js":
#      runner: node
#    "any.go":
#      runner: go run

18:00 save
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/FundingsHome.module.css
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint

fix: invalid like delete
  packages/backend/src/article/service.ts
  packages/frontend/src/pages/community/co_detail.jsx
Due: fmt, frontend-eslint, backend-eslint

feat: post comments
  packages/backend/src/article/router.ts
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/components/comments.jsx
  packages/frontend/src/pages/home/index.jsx
Due: fmt, frontend-eslint, backend-eslint

feat: add profile button
  packages/frontend/src/component/layout/Header.module.css
  packages/frontend/src/component/layout/Header.tsx
Due: fmt, frontend-eslint

feat: display funding tag badge
  packages/frontend/src/pages/fundings/FundingsHome.jsx
Due: fmt, frontend-eslint

fix: Show only 2 fractional in percentage
  packages/frontend/src/pages/fundings/FundingsHome.jsx
Due: fmt, frontend-eslint

feat: allow begin_date
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/router.ts
Due: fmt, backend-eslint

feat: add funding participate
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsPay.jsx
Due: fmt, frontend-eslint

fix: solve react duplicated key error
  packages/backend/src/fundings/funding_model.ts
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint, backend-eslint

feat: edit community css
  packages/frontend/src/component/Editor.jsx
  packages/frontend/src/pages/community/co_write.jsx
  packages/frontend/src/pages/community/components/board.jsx
  packages/frontend/src/pages/community/components/category.jsx
  packages/frontend/src/pages/community/styles/Co_base.module.css
  packages/frontend/src/pages/community/styles/Co_write.module.css
  packages/frontend/src/pages/community/styles/tags.css
Due: fmt, frontend-eslint

feat: Home add profileButton
  packages/frontend/src/component/layout/Header.tsx
Due: fmt, frontend-eslint

feat: add community- pagination css
  packages/frontend/src/pages/community/components/pagination.jsx
  packages/frontend/src/pages/community/styles/Community.module.css
  packages/frontend/src/pages/community/styles/pagination.css
Due: fmt, frontend-eslint

fix: article order by desc
  packages/backend/src/article/model.ts
Due: fmt, backend-eslint

fix: layout more responsive
  packages/frontend/src/component/layout/Footer.module.css
  packages/frontend/src/component/layout/Footer.tsx
  packages/frontend/src/component/layout/Header.module.css
  packages/frontend/src/component/layout/Header.tsx
Due: fmt, frontend-eslint

fix: remove duplicated logo and style
  packages/frontend/src/component/Logo.tsx
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/pages/withdrawal/images/logo.svg
  packages/frontend/src/pages/withdrawal/index.jsx
  packages/frontend/src/pages/withdrawal/withdrawal.module.css
Due: fmt, frontend-eslint

fix: profilePage modify
  packages/frontend/src/pages/profile/profile.css
  packages/frontend/src/pages/profile/profileLikeList.jsx
  packages/frontend/src/pages/profile/profilePage.jsx
Due: fmt, frontend-eslint

.
  packages/frontend/src/pages/profile/profilePage.jsx
Due: fmt, frontend-eslint

.
  packages/frontend/src/pages/profile/profile.css
Due: none

fix: FundingsPay 페이지
  packages/frontend/src/pages/fundings/FundingsPay.jsx
Due: fmt, frontend-eslint

refactor: make dto
  package-lock.json
  package.json
  packages/backend/package.json
  packages/backend/src/article/model.ts
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/request_model.ts
  packages/backend/src/users/model.ts
  packages/dto/index.d.ts
  packages/dto/index.js
  packages/dto/package.json
  packages/frontend/package.json
Due: fmt, backend-eslint

Merge branch 'main' of https://github.com/vi117/mc_final
  packages/backend/src/article/model.ts
  packages/backend/src/article/router.ts
  packages/backend/src/article/service.ts
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/router.ts
  packages/frontend/src/component/Editor.jsx
  packages/frontend/src/component/layout/Footer.module.css
  packages/frontend/src/component/layout/Footer.tsx
  packages/frontend/src/component/layout/Header.module.css
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/co_write.jsx
  packages/frontend/src/pages/community/components/board.jsx
  packages/frontend/src/pages/community/components/category.jsx
  packages/frontend/src/pages/community/components/comments.jsx
  packages/frontend/src/pages/community/components/pagination.jsx
  packages/frontend/src/pages/community/styles/Co_base.module.css
  packages/frontend/src/pages/community/styles/Co_write.module.css
  packages/frontend/src/pages/community/styles/Community.module.css
  packages/frontend/src/pages/community/styles/pagination.css
  packages/frontend/src/pages/community/styles/tags.css
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/FundingsPay.jsx
  packages/frontend/src/pages/home/index.jsx
  packages/frontend/src/pages/profile/profile.css
  packages/frontend/src/pages/profile/profileLikeList.jsx
  packages/frontend/src/pages/profile/profilePage.jsx
Due: fmt, frontend-eslint, backend-eslint

15:50 save
  packages/frontend/src/component/SearchBar.tsx
  packages/frontend/src/component/SearchBox.jsx
  packages/frontend/src/component/SearchBox.module.css
  packages/frontend/src/component/SearchModal.module.css
  packages/frontend/src/component/SearchModal.tsx
  packages/frontend/src/component/SearchModalBasic.module.css
  packages/frontend/src/component/SearchModalBasic.tsx
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/pages/fundings/FundingsSearch.jsx
Due: fmt, frontend-eslint

feat: funding approve by admin
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/router.ts
  packages/backend/src/fundings/service.ts
  packages/frontend/src/App.jsx
  packages/frontend/src/hook/useFundingRequest.ts
  packages/frontend/src/hook/util.ts
  packages/frontend/src/pages/admin/index.tsx
Due: fmt, frontend-eslint, backend-eslint

fix: FundingsPay page edit
  packages/frontend/src/pages/fundings/FundingsPay.jsx
Due: fmt, frontend-eslint

refactor: extract useSWR to useHook
  packages/frontend/src/hook/useArticleDetail.ts
  packages/frontend/src/hook/useArticles.ts
  packages/frontend/src/hook/useFundingDetail.ts
  packages/frontend/src/hook/useFundings.ts
  packages/frontend/src/hook/util.ts
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/components/board.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsHome.jsx
Due: fmt, frontend-eslint

fix: error
  packages/frontend/src/hook/useArticles.ts
  packages/frontend/src/hook/useFundings.ts
  packages/frontend/src/pages/fundings/FundingsHome.jsx
Due: fmt, frontend-eslint

feat: fix main page css / layout css
  packages/frontend/src/component/SearchBar.module.css
  packages/frontend/src/component/layout/Footer.module.css
  packages/frontend/src/component/layout/Header.module.css
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/component/layout/Layout.jsx
  packages/frontend/src/index.css
  packages/frontend/src/pages/community/styles/Community.module.css
  packages/frontend/src/pages/home/home.css
  packages/frontend/src/pages/home/index.jsx
Due: fmt, frontend-eslint

fix: set funding pay address
  packages/frontend/src/pages/fundings/FundingsPay.jsx
Due: fmt, frontend-eslint

feat: fix main / header css
  packages/frontend/src/component/layout/Footer.module.css
  packages/frontend/src/component/layout/Footer.tsx
  packages/frontend/src/component/layout/Header.module.css
  packages/frontend/src/component/layout/Header.tsx
Due: fmt, frontend-eslint

feat: fix header color
  packages/frontend/src/component/SearchModal.module.css
  packages/frontend/src/component/layout/Header.module.css
  packages/frontend/src/component/layout/Header.tsx
Due: fmt, frontend-eslint

feat: add more user info
  packages/backend/src/users/jwt.ts
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/hook/useLogin.ts
Due: fmt, frontend-eslint, backend-eslint

fix: login id
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint

feat: fix mainpage css/ add img
  packages/frontend/src/component/SearchModalBasic.module.css
  packages/frontend/src/pages/home/home.css
  packages/frontend/src/pages/home/index.jsx
Due: fmt, frontend-eslint

feat: multiple thumnail contents
  packages/backend/app.ts
  packages/backend/src/db/db.d.ts
  packages/backend/src/file/multer.ts
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/router.ts
  packages/backend/src/fundings/service.ts
  packages/backend/src/util/assert_param.ts
  packages/dto/index.d.ts
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsPay.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint, backend-eslint

fix: replace Nav.Link to NavLink
  packages/frontend/src/component/layout/Header.tsx
Due: fmt, frontend-eslint

feat: fix footer css
  packages/frontend/src/component/layout/Footer.module.css
  packages/frontend/src/component/layout/Footer.tsx
  packages/frontend/src/component/layout/Header.module.css
  packages/frontend/src/pages/community/styles/Co_detail.module.css
  packages/frontend/src/pages/community/styles/Co_write.module.css
Due: fmt, frontend-eslint

feat: tag search
  packages/frontend/src/hook/useFundings.ts
  packages/frontend/src/pages/fundings/FundingsHome.jsx
Due: fmt, frontend-eslint

fix: funding content SetInnerHTML
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint

refactor: extract FundingItem
  packages/frontend/src/pages/fundings/FundingsHome.jsx
Due: fmt, frontend-eslint

feat: add prop is_admin to login info
  packages/backend/src/users/jwt.ts
  packages/frontend/src/hook/useLogin.ts
Due: fmt, frontend-eslint, backend-eslint
