Repository vi117/mc_final: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, frontend-eslint, backend-eslint

fmt:
  tags: frontend style
  run: npm run format {staged_files} && git add {staged_files}

frontend-eslint:
  run: npm run --workspace frontend lint {staged_files}

backend-eslint:
  run: npm run --workspace backend lint {staged_files}

fix : 후원자 관리 페이지 CSS, 링크 연결
  packages/frontend/src/pages/community/co_edit.jsx
  packages/frontend/src/pages/fundings/FundingUsers.module.css
  packages/frontend/src/pages/fundings/FundingUsers.tsx
  packages/frontend/src/pages/profile/profileLikeList.tsx
  packages/frontend/src/pages/profile/profilePage.module.css
Due: fmt, frontend-eslint

feat: add modal in ForgotPasswordPage
  packages/backend/src/users/router.ts
  packages/frontend/src/api/user.ts
  packages/frontend/src/pages/forgot-password/index.jsx
Due: fmt, frontend-eslint, backend-eslint

refactor: rename `notEmpty` to `required`
  packages/frontend/src/component/ValidationForm/Input.jsx
  packages/frontend/src/pages/register/index.jsx
Due: fmt, frontend-eslint

feat: pretty reset password email form
  packages/backend/src/users/mail_form/index.ts
  packages/backend/src/users/sendmail.ts
Due: fmt, backend-eslint

feat: resend verification mail
  packages/backend/src/users/router.ts
  packages/frontend/src/App.jsx
  packages/frontend/src/api/user.ts
  packages/frontend/src/pages/approve-email/index.tsx
  packages/frontend/src/pages/login/index.jsx
  packages/frontend/src/pages/resend-verification/index.jsx
  packages/frontend/src/pages/resend-verification/resend.module.css
Due: fmt, frontend-eslint, backend-eslint

fix: change modal button style
  packages/frontend/src/component/DialogModal/AlertModal.tsx
  packages/frontend/src/component/DialogModal/ConfirmModal.tsx
  packages/frontend/src/component/DialogModal/PromptModal.tsx
Due: fmt, frontend-eslint

fix: admin funding request css
  packages/frontend/src/pages/admin/request/index.jsx
  packages/frontend/src/pages/admin/request/index.module.css
Due: fmt, frontend-eslint

fix : 오픈한 펀딩 개설한 펀딩만 조회
  packages/frontend/src/pages/profile/profileLikeList.tsx
Due: fmt, frontend-eslint

refactor: API_URL env
  packages/frontend/src/api/article.ts
  packages/frontend/src/api/funding.ts
  packages/frontend/src/api/upload.ts
  packages/frontend/src/api/user.ts
  packages/frontend/src/config.ts
  packages/frontend/src/hook/useArticleDetail.ts
  packages/frontend/src/hook/useArticleReports.ts
  packages/frontend/src/hook/useArticles.ts
  packages/frontend/src/hook/useFundingDetail.ts
  packages/frontend/src/hook/useFundingReport.ts
  packages/frontend/src/hook/useFundingRequest.ts
  packages/frontend/src/hook/useFundingRequestById.ts
  packages/frontend/src/hook/useFundingUsers.ts
  packages/frontend/src/hook/useFundings.ts
  packages/frontend/src/hook/useLikedArticles.ts
  packages/frontend/src/hook/useUser.ts
Due: fmt, frontend-eslint

fix: open new page
  packages/frontend/src/pages/admin/request/index.jsx
Due: fmt, frontend-eslint

fix: replace text excel to csv
  packages/frontend/src/pages/fundings/FundingUsers.tsx
Due: fmt, frontend-eslint

fix: validate in article post
  packages/frontend/src/pages/community/co_write.jsx
Due: fmt, frontend-eslint

fix: update only own rewards
  packages/backend/src/fundings/service.ts
Due: fmt, backend-eslint

refactor: loading page
  packages/backend/src/fundings/router.ts
  packages/frontend/src/component/LoadingPage.tsx
  packages/frontend/src/component/UploadFile/index.tsx
  packages/frontend/src/component/ValidationForm/Input.d.ts
  packages/frontend/src/component/index.ts
  packages/frontend/src/pages/admin/request/index.jsx
  packages/frontend/src/pages/fundings/FundingUsers.tsx
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
  packages/frontend/src/pages/profile/hostProfileview.jsx
Due: fmt, frontend-eslint, backend-eslint

feat: add ErrorPage
  packages/frontend/src/component/ErrorPage.tsx
  packages/frontend/src/component/index.ts
  packages/frontend/src/pages/admin/request/index.jsx
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/fundings/FundingUsers.tsx
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
  packages/frontend/src/pages/profile/hostProfileview.jsx
Due: fmt, frontend-eslint

refactor: use container
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/co_edit.jsx
  packages/frontend/src/pages/community/co_write.jsx
  packages/frontend/src/pages/community/styles/Co_detail.module.css
  packages/frontend/src/pages/community/styles/Co_write.module.css
Due: fmt, frontend-eslint

fix: responsive img
  packages/frontend/src/pages/community/styles/Co_detail.module.css
Due: none

fix : css 일부 수정
  packages/frontend/src/pages/admin/request/index.jsx
  packages/frontend/src/pages/profile/hostProfileview.jsx
  packages/frontend/src/pages/profile/hostProfileview.module.css
Due: fmt, frontend-eslint

feat: add cors
  package-lock.json
  packages/backend/app.ts
  packages/backend/package.json
Due: fmt, backend-eslint

fix: rename router prefix
  packages/backend/src/routes/index.ts
  packages/frontend/vite.config.ts
Due: fmt, frontend-eslint, backend-eslint

refactor : TODO 일부 완료.(modal)
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/pages/admin/request/index.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint

fix: credentials
  packages/backend/app.ts
Due: fmt, backend-eslint

fix: add password check in ResetPassword
  packages/frontend/src/pages/reset-password/index.jsx
Due: fmt, frontend-eslint

fix: logout after reset password
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

fix: invalidate login info after reset password
  packages/frontend/src/api/user.ts
Due: fmt, frontend-eslint

feat: supprot cross origin api server
  packages/frontend/src/api/article.ts
  packages/frontend/src/api/funding.ts
  packages/frontend/src/api/upload.ts
  packages/frontend/src/api/user.ts
  packages/frontend/src/hook/util.ts
Due: fmt, frontend-eslint

refactor : TODO 일부 완료.(confirm)
  packages/frontend/src/component/DialogModal/ConfirmModal.tsx
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint

fix: profile responsive css
  packages/frontend/src/pages/profile/hostProfileview.module.css
  packages/frontend/src/pages/profile/profileLikeList.tsx
  packages/frontend/src/pages/profile/profilePage.module.css
  packages/frontend/src/pages/profile/profilePage.tsx
Due: fmt, frontend-eslint

fix: await showAlertModal
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint

feat: edit css (admin page)
  packages/frontend/src/pages/admin/admin.module.css
  packages/frontend/src/pages/admin/index.tsx
  packages/frontend/src/pages/profile/profileLikeList.tsx
Due: fmt, frontend-eslint

feat: add morebtn in funding/community report
  packages/frontend/src/pages/admin/admin.module.css
  packages/frontend/src/pages/admin/index.tsx
Due: fmt, frontend-eslint

edit css ( in admin- report page)
  packages/frontend/src/pages/admin/admin.module.css
  packages/frontend/src/pages/community/components/report.jsx
Due: fmt, frontend-eslint

fix: set report category
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint

feat(funding): validate input
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint

doc: running method
  README.md
Due: none

fix: show alert modal
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint

fix(funding): duplicate title check
  packages/backend/app.ts
  packages/backend/src/fundings/router.ts
  packages/frontend/src/api/article.ts
  packages/frontend/src/api/error.ts
  packages/frontend/src/api/funding.ts
  packages/frontend/src/api/upload.ts
  packages/frontend/src/api/user.ts
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint, backend-eslint

fix: clear comment after register
  packages/frontend/src/pages/community/co_detail.jsx
Due: fmt, frontend-eslint

fix: remove unused button
  packages/frontend/src/pages/community/components/comments.jsx
Due: fmt, frontend-eslint

doc: add types
  packages/frontend/src/api/funding.ts
Due: fmt, frontend-eslint

Path conditions:
  fmt: any of: *.{js,ts,jsx,tsx}
  frontend-eslint: any of: *.{js,ts,jsx,tsx} and ^packages/frontend/
  backend-eslint: any of: *.{js,ts,jsx,tsx} and ^packages/backend/
