Repository vi117/mc_final: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, frontend-eslint, backend-eslint

fmt:
  tags: frontend style
  run: npm run format {staged_files} && git add {staged_files}

frontend-eslint:
  run: npm run --workspace frontend lint {staged_files}

backend-eslint:
  run: npm run --workspace backend lint {staged_files}

feat: edit css(in community main, arrow color)
  packages/frontend/src/pages/community/styles/Community.module.css
  packages/frontend/src/pages/community/styles/carousel.css
Due: none

fix: withdrawal page css
  packages/frontend/src/pages/withdrawal/index.jsx
  packages/frontend/src/pages/withdrawal/withdrawal.module.css
Due: fmt, frontend-eslint

refactor: replace hook
  packages/frontend/src/pages/community/co_edit.jsx
Due: fmt, frontend-eslint

refactor: extract logout
  packages/frontend/src/api/user.ts
  packages/frontend/src/component/layout/Header.tsx
Due: fmt, frontend-eslint

refactor: extract postArticle
  packages/frontend/src/api/article.ts
  packages/frontend/src/api/mod.ts
  packages/frontend/src/pages/community/co_write.jsx
Due: fmt, frontend-eslint

refactor: extract article api
  packages/frontend/src/api/article.ts
  packages/frontend/src/pages/community/co_detail.jsx
Due: fmt, frontend-eslint

fix: update article error
  packages/backend/src/article/router.ts
Due: fmt, backend-eslint

fix: edit article state
  packages/backend/src/article/router.ts
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/co_edit.jsx
Due: fmt, frontend-eslint, backend-eslint

fix: set hr class
  packages/frontend/src/pages/fundings/FundingWrite.module.css
Due: none

feat: add interest button active css
  packages/frontend/src/index.css
  packages/frontend/src/pages/fundings/component/InterestButton.module.css
  packages/frontend/src/pages/fundings/component/InterestButton.tsx
Due: fmt, frontend-eslint

fix: kakaoshare link
  packages/frontend/src/util/shareKakaoLink.js
Due: fmt, frontend-eslint

feat: funding delete
  packages/frontend/src/api/funding.ts
Due: fmt, frontend-eslint

feat: funding state
  packages/frontend/src/pages/admin/index.tsx
Due: fmt, frontend-eslint

doc: add example to useAlertModal
  packages/frontend/src/hook/useAlertModal.tsx
Due: fmt, frontend-eslint

doc: comment for funding api
  packages/frontend/src/api/funding.ts
  packages/frontend/src/hook/useFundings.ts
Due: fmt, frontend-eslint

refactor: extract patch article
  packages/frontend/src/api/article.ts
  packages/frontend/src/pages/community/co_edit.jsx
Due: fmt, frontend-eslint

extract: funding pariticipate
  packages/frontend/src/api/funding.ts
  packages/frontend/src/pages/fundings/FundingsPay.jsx
Due: fmt, frontend-eslint

feat: refund when funding delete
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/router.ts
  packages/backend/src/fundings/service.ts
Due: fmt, backend-eslint

refactor: upload api
  packages/frontend/src/api/upload.ts
  packages/frontend/src/component/Editor.tsx
Due: fmt, frontend-eslint

refactor : searchbar 펀딩 제목 검색(태그 검색은 안됨)
  packages/frontend/src/component/SearchModal.jsx
  packages/frontend/src/component/SearchModalBasic.tsx
Due: fmt, frontend-eslint

feat: edit css( header, searchmodal)
  packages/frontend/src/component/SearchModal.module.css
  packages/frontend/src/component/SearchModalBasic.module.css
  packages/frontend/src/component/layout/Header.module.css
  packages/frontend/src/component/layout/Header.tsx
Due: fmt, frontend-eslint

feat: improve sns login
  packages/backend/src/users/googleLogin.ts
  packages/backend/src/users/router.ts
  packages/frontend/src/api/user.ts
  packages/frontend/src/component/UploadImage/index.tsx
  packages/frontend/src/pages/register/index.jsx
  packages/frontend/src/pages/sns_login/google.tsx
Due: fmt, frontend-eslint, backend-eslint

fix: useNavigate
  packages/frontend/src/component/SearchModal.jsx
Due: fmt, frontend-eslint

refactor: extract FundingList from FundingHome
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/FundingsHome.module.css
  packages/frontend/src/pages/fundings/component/FundingList.jsx
  packages/frontend/src/pages/fundings/component/FundingList.module.css
Due: fmt, frontend-eslint

remove: console.log
  packages/frontend/src/App.jsx
Due: fmt, frontend-eslint

fix: submit handler in profile edit
  packages/frontend/src/pages/profile/edit/profileEdit.jsx
Due: fmt, frontend-eslint

doc: AlertModal
  packages/frontend/src/hook/useAlertModal.tsx
Due: fmt, frontend-eslint

remove: completed TODO
  packages/backend/src/fundings/router.ts
Due: fmt, backend-eslint

feat: show Modal login page
  packages/frontend/src/pages/login/index.jsx
  packages/frontend/src/pages/login/style.module.css
Due: fmt, frontend-eslint

refactor: extract ValidationInput
  packages/frontend/src/component/ValidationInput.jsx
  packages/frontend/src/component/ValidationInput.module.css
  packages/frontend/src/pages/register/index.jsx
  packages/frontend/src/pages/register/registerForm.module.css
Due: fmt, frontend-eslint

refactor: extract verify Email
  packages/frontend/src/api/user.ts
  packages/frontend/src/pages/approve-email/index.tsx
Due: fmt, frontend-eslint

fix: typo error
  packages/frontend/src/pages/approve-email/index.tsx
Due: fmt, frontend-eslint

fix: funding item tag key
  packages/frontend/src/pages/fundings/component/Item.tsx
Due: fmt, frontend-eslint

fix: suppress ts error
  packages/frontend/src/util/tag.d.ts
Due: fmt, frontend-eslint

refactor: extract googleLogin
  packages/frontend/src/api/user.ts
  packages/frontend/src/pages/sns_login/google.tsx
Due: fmt, frontend-eslint

refactor: extract post funding request
  packages/frontend/src/api/funding.ts
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint

fix : 검색창 변경
  packages/frontend/src/component/SearchBox.jsx
  packages/frontend/src/component/SearchBox.module.css
  packages/frontend/src/component/SearchModal.jsx
  packages/frontend/src/component/SearchModal.module.css
  packages/frontend/src/component/SearchModalBasic.module.css
  packages/frontend/src/component/SearchModalBasic.tsx
Due: fmt, frontend-eslint

feat: reject funding request with reason api
  packages/backend/src/fundings/router.ts
  packages/frontend/src/api/funding.ts
Due: fmt, frontend-eslint, backend-eslint

feat: edit css (community, index)
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/co_edit.jsx
  packages/frontend/src/pages/community/components/co_writemodal.tsx
  packages/frontend/src/pages/community/components/comments.jsx
  packages/frontend/src/pages/community/styles/Co_base.module.css
  packages/frontend/src/pages/community/styles/Co_detail.module.css
  packages/frontend/src/pages/community/styles/Co_write.module.css
  packages/frontend/src/pages/community/styles/Community.module.css
  packages/frontend/src/pages/home/home.module.css
  packages/frontend/src/pages/home/index.jsx
Due: fmt, frontend-eslint

feat: show user's funding request in profile
  packages/backend/src/fundings/request_model.ts
  packages/backend/src/fundings/router.ts
  packages/dto/index.d.ts
  packages/frontend/src/hook/useFundingRequest.ts
  packages/frontend/src/pages/admin/index.tsx
  packages/frontend/src/pages/profile/profileLikeList.tsx
Due: fmt, frontend-eslint, backend-eslint

Path conditions:
  fmt: any of: *.{js,ts,jsx,tsx}
  frontend-eslint: any of: *.{js,ts,jsx,tsx} and ^packages/frontend/
  backend-eslint: any of: *.{js,ts,jsx,tsx} and ^packages/backend/
