Repository vi117/mc_final: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, frontend-eslint, backend-eslint

fmt:
  tags: frontend style
  run: npm run format {staged_files} && git add {staged_files}

frontend-eslint:
  run: npm run --workspace frontend lint {staged_files}

backend-eslint:
  run: npm run --workspace backend lint {staged_files}

fix: h3
  packages/frontend/src/pages/admin/admin.module.css
  packages/frontend/src/pages/admin/index.tsx
Due: fmt, frontend-eslint

fix: css raw tag to class for hr
  packages/frontend/src/pages/fundings/FundingWrite.module.css
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint

feat: add hr
  packages/frontend/src/pages/profile/profilePage.tsx
Due: fmt, frontend-eslint

fix: host-profile url
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint

fix: use valid user data
  packages/frontend/src/pages/profile/hostProfileview.jsx
Due: fmt, frontend-eslint

fix: url host_profile to host-profile
  packages/frontend/src/pages/community/co_detail.jsx
Due: fmt, frontend-eslint

feat: add board nickname link
  packages/frontend/src/pages/community/components/board.jsx
Due: fmt, frontend-eslint

refactor: extract login
  packages/frontend/src/api/user.ts
  packages/frontend/src/pages/login/index.jsx
Due: fmt, frontend-eslint

refactor: extract funding approve, reject
  packages/frontend/src/api/funding.ts
  packages/frontend/src/pages/admin/index.tsx
Due: fmt, frontend-eslint

fix : header에 닉네임 노출
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/FundingsHome_placeholder.jsx
  packages/frontend/src/pages/fundings/FundingsHome_placeholder.module.css
Due: fmt, frontend-eslint

fix: shareFacebook,shareTwitter
  packages/frontend/src/pages/fundings/FundingsDetailModal.jsx
Due: fmt, frontend-eslint

fix: fundinghome responsive, fundingwrite
  packages/frontend/src/index.css
  packages/frontend/src/pages/fundings/FundingWrite.module.css
  packages/frontend/src/pages/fundings/FundingsHome.module.css
  packages/frontend/src/pages/fundings/FundingsHome_placeholder.module.css
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
  packages/frontend/src/pages/fundings/component/Item.module.css
  packages/frontend/src/pages/fundings/component/Item.tsx
  packages/frontend/src/pages/fundings/progressbar.css
Due: fmt, frontend-eslint

feat: fix funding detail responsive
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
  packages/frontend/src/pages/fundings/component/InterestButton.module.css
Due: none

feat: add modal for admin page
  packages/frontend/src/pages/admin/index.tsx
Due: fmt, frontend-eslint

refactor: send-reset-password
  packages/frontend/src/api/user.ts
  packages/frontend/src/pages/forgot-password/index.jsx
Due: fmt, frontend-eslint

feat: edit css
  packages/frontend/src/component/layout/Footer.module.css
  packages/frontend/src/component/layout/Footer.tsx
  packages/frontend/src/pages/admin/index.tsx
  packages/frontend/src/pages/community/co_write.jsx
  packages/frontend/src/pages/community/styles/Co_base.module.css
  packages/frontend/src/pages/community/styles/Co_write.module.css
  packages/frontend/src/pages/community/styles/tags.css
  packages/frontend/src/pages/fundings/FundingWrite.module.css
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/FundingsHome.module.css
  packages/frontend/src/pages/fundings/component/Item.module.css
Due: fmt, frontend-eslint

feat: edit css (community, funding home.. etc)
  packages/frontend/src/component/Editor.tsx
  packages/frontend/src/pages/community/co_write.jsx
  packages/frontend/src/pages/community/community.jsx
  packages/frontend/src/pages/community/components/bestarticle.jsx
  packages/frontend/src/pages/community/components/category.jsx
  packages/frontend/src/pages/community/components/toggle.jsx
  packages/frontend/src/pages/community/styles/Co_base.module.css
  packages/frontend/src/pages/community/styles/Co_write.module.css
  packages/frontend/src/pages/community/styles/Community.module.css
  packages/frontend/src/pages/community/styles/carousel.css
  packages/frontend/src/pages/community/styles/editor.css
  packages/frontend/src/pages/community/styles/pagination.css
  packages/frontend/src/pages/community/styles/tags.css
  packages/frontend/src/pages/fundings/FundingWrite.module.css
  packages/frontend/src/pages/fundings/FundingsHome.module.css
  packages/frontend/src/pages/fundings/component/Item.module.css
Due: fmt, frontend-eslint

fix: replace absoulte import to relative import
  packages/frontend/src/pages/admin/index.tsx
Due: fmt, frontend-eslint

chore: resolve alias setting
  packages/frontend/tsconfig.json
  packages/frontend/vite.config.ts
Due: fmt, frontend-eslint

refactor: funding write css
  packages/frontend/src/index.css
  packages/frontend/src/pages/fundings/FundingWrite.module.css
Due: none

fix: reversed interest button
  packages/frontend/src/pages/fundings/component/InterestButton.tsx
Due: fmt, frontend-eslint

fix: style error for selected reward list
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
Due: fmt, frontend-eslint

fix: show error detail
  packages/backend/src/users/router.ts
  packages/frontend/src/pages/reset-password/index.jsx
Due: fmt, frontend-eslint, backend-eslint

feat: cut nickname if too long
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
  packages/frontend/src/util/cut.js
Due: fmt, frontend-eslint

feat: sanitize html
  package-lock.json
  packages/backend/package.json
  packages/backend/src/article/router.ts
  packages/backend/src/fundings/router.ts
Due: fmt, backend-eslint

refactor: ValidationInput
  packages/frontend/src/pages/register/index.jsx
Due: fmt, frontend-eslint

remove: auto login
  packages/frontend/src/pages/login/index.jsx
Due: fmt, frontend-eslint

fix: footer title css when small
  packages/frontend/src/component/layout/Footer.tsx
Due: fmt, frontend-eslint

remove: unused search bar
  packages/frontend/src/component/SearchBar.module.css
  packages/frontend/src/component/SearchBar.tsx
Due: fmt, frontend-eslint

fix: home css for responsive
  packages/frontend/src/pages/home/home.module.css
  packages/frontend/src/pages/home/index.jsx
Due: fmt, frontend-eslint

feat: add funding backlink in article
  packages/backend/src/article/model.ts
  packages/dto/index.d.ts
  packages/frontend/src/hook/useArticleDetail.ts
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/styles/Co_detail.module.css
Due: fmt, frontend-eslint, backend-eslint

feat: emphasis ps approve tag
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
  packages/frontend/src/pages/fundings/component/Item.module.css
  packages/frontend/src/pages/fundings/component/Item.tsx
  packages/frontend/src/util/tag.js
Due: fmt, frontend-eslint

feat: funding title like serach
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/router.ts
  packages/frontend/src/hook/useFundings.ts
  packages/frontend/src/main.jsx
  packages/frontend/src/pages/fundings/FundingsHome.jsx
Due: fmt, frontend-eslint, backend-eslint

fix : 일부 오기입 수정
  packages/frontend/src/component/layout/Footer.tsx
  packages/frontend/src/pages/profile/edit/profileEdit.jsx
Due: fmt, frontend-eslint

fix: URLSearchParam copy
  packages/frontend/src/pages/fundings/FundingsHome.jsx
Due: fmt, frontend-eslint

fix: update cookie when profile update
  packages/backend/src/users/router.ts
  packages/frontend/src/api/user.ts
  packages/frontend/src/pages/profile/edit/profileEdit.jsx
Due: fmt, frontend-eslint, backend-eslint

fix: show user introduction in profile
  packages/backend/src/users/jwt.ts
  packages/frontend/src/hook/useLogin.ts
  packages/frontend/src/pages/profile/edit/profileEdit.jsx
Due: fmt, frontend-eslint, backend-eslint

chore: store google app client id in env
  packages/frontend/src/config.ts
Due: fmt, frontend-eslint

Co-authored-by: vi117 <vi117@users.noreply.github.com> Co-authored-by: DANG-HJ <DANG-HJ@users.noreply.github.com>
  packages/frontend/src/App.jsx
  packages/frontend/src/hook/useKakao.ts
  packages/frontend/src/pages/fundings/FundingsDetailModal.jsx
  packages/frontend/src/util/shareKakaoLink.js
Due: fmt, frontend-eslint

feat: edit css
  packages/frontend/src/component/SearchModal.module.css
  packages/frontend/src/component/layout/Header.module.css
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/index.css
  packages/frontend/src/pages/community/components/board.jsx
  packages/frontend/src/pages/community/components/category.jsx
  packages/frontend/src/pages/community/styles/Co_write.module.css
  packages/frontend/src/pages/community/styles/Community.module.css
  packages/frontend/src/pages/community/styles/carousel.css
  packages/frontend/src/pages/community/styles/tags.css
  packages/frontend/src/pages/fundings/FundingWrite.module.css
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
  packages/frontend/src/pages/fundings/FundingsHome.module.css
  packages/frontend/src/pages/fundings/component/Item.module.css
  packages/frontend/src/pages/fundings/component/Item.tsx
  packages/frontend/src/pages/home/home.module.css
Due: fmt, frontend-eslint

Path conditions:
  fmt: any of: *.{js,ts,jsx,tsx}
  frontend-eslint: any of: *.{js,ts,jsx,tsx} and ^packages/frontend/
  backend-eslint: any of: *.{js,ts,jsx,tsx} and ^packages/backend/
