Repository vi117/mc_final: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, frontend-eslint, backend-eslint

fmt:
  tags: frontend style
  run: npm run format {staged_files} && git add {staged_files}

frontend-eslint:
  run: npm run --workspace frontend lint {staged_files}

backend-eslint:
  run: npm run --workspace backend lint {staged_files}

Merge branch 'main' of https://github.com/vi117
  packages/frontend/src/pages/community/styles/tags.css
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/FundingsHome.module.css
  packages/frontend/src/pages/fundings/progressbar.css
Due: fmt, frontend-eslint

doc: remove code comments
  packages/frontend/src/pages/community/co_edit.jsx
Due: fmt, frontend-eslint

remove: unused
  packages/frontend/src/pages/community/assets/boardlist.js
  packages/frontend/src/pages/community/assets/cat.jpg
  packages/frontend/src/pages/community/assets/commentsample.js
  packages/frontend/src/pages/community/assets/cssValue.css
Due: fmt, frontend-eslint

fix: switch to module css
  packages/frontend/src/pages/home/home.module.css
  packages/frontend/src/pages/home/index.jsx
Due: fmt, frontend-eslint

feat: pagination
  packages/frontend/src/pages/community/assets/sampledata.js
  packages/frontend/src/pages/community/community.jsx
  packages/frontend/src/pages/community/components/board.jsx
  packages/frontend/src/pages/community/components/category.jsx
  packages/frontend/src/pages/community/components/pagination.jsx
  packages/frontend/src/pages/community/styles/pagination.css
Due: fmt, frontend-eslint

feat: apply css to mail
  packages/backend/src/users/mail_form/index.ts
  packages/backend/src/users/sendmail.ts
Due: fmt, backend-eslint

feat: edit header, footer, funding home css
  packages/frontend/src/component/layout/Footer.module.css
  packages/frontend/src/component/layout/Footer.tsx
  packages/frontend/src/component/layout/Header.module.css
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/component/layout/Layout.jsx
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/FundingsHome_Item.css
  packages/frontend/src/pages/fundings/progressbar.css
Due: fmt, frontend-eslint

fix: profile css rework
  packages/frontend/src/pages/profile/profile.css
  packages/frontend/src/pages/profile/profileLikeList.jsx
  packages/frontend/src/pages/profile/profileLikeList.tsx
  packages/frontend/src/pages/profile/profilePage.jsx
  packages/frontend/src/pages/profile/profilePage.tsx
Due: fmt, frontend-eslint

feat: add useUser hook
  packages/backend/src/users/router.ts
  packages/frontend/src/hook/useUser.ts
Due: fmt, frontend-eslint, backend-eslint

remove: funding search
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/fundings/FundingsSearch.jsx
Due: fmt, frontend-eslint

feat: like articles
  packages/backend/src/article/model.ts
  packages/backend/src/article/router.ts
  packages/dto/index.d.ts
  packages/frontend/src/hook/useLikedArticles.ts
  packages/frontend/src/hook/util.ts
  packages/frontend/src/pages/profile/profileLikeList.tsx
  packages/frontend/src/pages/profile/profilePage.tsx
Due: fmt, frontend-eslint, backend-eslint

refactor: use one fetcher
  packages/frontend/src/hook/useArticleDetail.ts
  packages/frontend/src/hook/useArticles.ts
  packages/frontend/src/hook/useFundingDetail.ts
  packages/frontend/src/hook/useFundingRequest.ts
  packages/frontend/src/hook/useFundings.ts
  packages/frontend/src/hook/useLikedArticles.ts
  packages/frontend/src/hook/useUser.ts
Due: fmt, frontend-eslint

feat: view adimn page link if admin
  packages/frontend/src/pages/profile/profilePage.tsx
Due: fmt, frontend-eslint

doc: remove comments
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint

feat: fix footer css
  packages/frontend/src/component/layout/Footer.module.css
  packages/frontend/src/pages/fundings/FundingsHome.module.css
Due: none

fix: upload image css
  packages/frontend/src/App.jsx
  packages/frontend/src/component/UploadImage/Upload.module.css
  packages/frontend/src/component/UploadImage/index.tsx
  packages/frontend/src/pages/register/index.jsx
  packages/frontend/src/pages/uploadcomponent/Upload.css
Due: fmt, frontend-eslint

14:50 save
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/FundingsHome_placeholder.jsx
Due: fmt, frontend-eslint

feat: fix fundingdetail css (진행중)
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
Due: fmt, frontend-eslint

fix: remove invalid property
  packages/frontend/src/pages/login/index.jsx
Due: fmt, frontend-eslint

feat: register require agreements
  packages/frontend/src/pages/register/TermOfPolicy.tsx
  packages/frontend/src/pages/register/index.jsx
  packages/frontend/src/pages/register/registerArgeeModal.jsx
  packages/frontend/src/pages/register/registerArgeeModal.tsx
Due: fmt, frontend-eslint

feat: fix funding detail css(진행중... )
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
Due: fmt, frontend-eslint

fix: FundingsPay css 최종
  packages/frontend/src/pages/fundings/FundingsPay.jsx
  packages/frontend/src/pages/fundings/FundingsPay.module.css
Due: fmt, frontend-eslint

fix: FundingsPay css 수정
  packages/frontend/src/pages/fundings/FundingsPay.module.css
Due: none

feat: check email nickname unique
  packages/backend/src/users/router.ts
  packages/frontend/src/api/mod.ts
  packages/frontend/src/pages/register/index.jsx
  packages/frontend/src/pages/register/registerForm.module.css
Due: fmt, frontend-eslint, backend-eslint

feat: profile upload
  packages/backend/src/users/router.ts
  packages/frontend/src/api/mod.ts
  packages/frontend/src/component/UploadImage/index.tsx
  packages/frontend/src/pages/register/index.jsx
Due: fmt, frontend-eslint, backend-eslint

fix: css 추가
  packages/frontend/src/pages/fundings/FundingsPay.module.css
Due: none

feat: adress result
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/pages/register/index.jsx
Due: fmt, frontend-eslint

feat: responsive funding pay
  packages/frontend/src/component/Button.module.css
  packages/frontend/src/component/Button.tsx
  packages/frontend/src/index.css
  packages/frontend/src/pages/fundings/FundingsPay.jsx
  packages/frontend/src/pages/fundings/FundingsPay.module.css
Due: fmt, frontend-eslint

refactor: rename ItemList to RewardItemList
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
  packages/frontend/src/pages/fundings/component/RewardItemList.jsx
Due: fmt, frontend-eslint

refactor: new file for funding item
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/FundingsHome.module.css
  packages/frontend/src/pages/fundings/component/Item.tsx
Due: fmt, frontend-eslint

10:00 save
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/FundingsHome_placeholder.jsx
  packages/frontend/src/pages/fundings/FundingsHome_placeholder.module.css
  packages/frontend/src/pages/profile/userProfileView.jsx
Due: fmt, frontend-eslint

feat: fix funding detail css
  packages/frontend/src/index.css
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
  packages/frontend/src/pages/fundings/FundingsHome.module.css
  packages/frontend/src/pages/fundings/funding_btn.css
Due: fmt, frontend-eslint

feat: show funding interest
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/router.ts
  packages/frontend/src/hook/useFundings.ts
  packages/frontend/src/pages/profile/profileLikeList.tsx
  packages/frontend/tsconfig.json
Due: fmt, frontend-eslint, backend-eslint

feat: fix font size-funding detail
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
Due: none

feat: fix css(currentvalue- background color)
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
Due: none

fix: show introduction
  packages/backend/src/fundings/funding_model.ts
  packages/dto/index.d.ts
  packages/frontend/src/api/error.ts
  packages/frontend/src/api/funding.ts
  packages/frontend/src/api/mod.ts
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
  packages/frontend/src/pages/fundings/component/InterestButton.module.css
  packages/frontend/src/pages/fundings/component/InterestButton.tsx
  packages/frontend/src/pages/fundings/component/Item.tsx
  packages/frontend/src/pages/fundings/funding_btn.css
Due: fmt, frontend-eslint, backend-eslint

fix: fundingdetail- share button
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
  packages/frontend/src/pages/fundings/FundingsDetailModal.jsx
Due: fmt, frontend-eslint

refactor: move to user
  packages/frontend/src/api/mod.ts
  packages/frontend/src/api/user.ts
Due: fmt, frontend-eslint

feat: patch user by id
  packages/backend/src/users/model.ts
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

fix: button feat: profile resetpassword button
  packages/frontend/src/pages/profile/profilePage.tsx
  packages/frontend/src/pages/register/index.jsx
Due: fmt, frontend-eslint

Path conditions:
  fmt: any of: *.{js,ts,jsx,tsx}
  frontend-eslint: any of: *.{js,ts,jsx,tsx} and ^packages/frontend/
  backend-eslint: any of: *.{js,ts,jsx,tsx} and ^packages/backend/
