Repository vi117/mc_final: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, frontend-eslint, backend-eslint

fmt:
  tags: frontend style
  run: npm run format {staged_files} && git add {staged_files}

frontend-eslint:
  run: npm run --workspace frontend lint {staged_files}

backend-eslint:
  run: npm run --workspace backend lint {staged_files}

fix(funding): check valid on reject request
  packages/backend/src/fundings/router.ts
  packages/frontend/src/pages/admin/index.tsx
Due: fmt, frontend-eslint, backend-eslint

fix: hard coded funding numbers
  packages/frontend/src/pages/home/index.jsx
Due: fmt, frontend-eslint

fix : 호스트프로필, 커뮤니티 프로필사진
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/profile/hostProfileview.module.css
Due: fmt, frontend-eslint

feat: change title and og
  packages/frontend/index.html
Due: none

fix: sns register
  packages/backend/src/users/router.ts
  packages/frontend/src/api/user.ts
  packages/frontend/src/pages/register/index.jsx
Due: fmt, frontend-eslint, backend-eslint

fix: title css flex-wrap
  packages/frontend/src/pages/admin/admin.module.css
Due: none

fix: make tab url
  packages/frontend/src/pages/admin/index.tsx
Due: fmt, frontend-eslint

refactor: pagination extract
  packages/frontend/src/component/index.ts
  packages/frontend/src/component/pagination.css
  packages/frontend/src/component/pagination.d.ts
  packages/frontend/src/component/pagination.jsx
  packages/frontend/src/pages/community/components/board.jsx
Due: fmt, frontend-eslint

feat: add funding request pagination
  packages/frontend/src/pages/admin/index.tsx
Due: fmt, frontend-eslint

fix: comment delete permission check
  packages/backend/src/article/model.ts
  packages/backend/src/article/router.ts
Due: fmt, backend-eslint

feat: user withdrawal 구현
  packages/backend/src/db/db.d.ts
  packages/backend/src/users/jwt.ts
  packages/backend/src/users/router.ts
  packages/dto/index.d.ts
  packages/frontend/src/api/user.ts
  packages/frontend/src/pages/admin/index.tsx
  packages/frontend/src/pages/fundings/FundingUsers.tsx
  packages/frontend/src/pages/withdrawal/index.jsx
Due: fmt, frontend-eslint, backend-eslint

fix: community filter animal
  packages/frontend/src/pages/community/components/board.jsx
Due: fmt, frontend-eslint

fix: kakao share link
  packages/frontend/src/pages/fundings/FundingsDetailModal.jsx
  packages/frontend/src/util/shareKakaoLink.js
Due: fmt, frontend-eslint

remove: about, contact
  packages/frontend/src/App.jsx
Due: fmt, frontend-eslint

feat: article report with category
  packages/frontend/src/pages/community/components/report.jsx
Due: fmt, frontend-eslint

feat: edit css
  packages/frontend/src/pages/admin/admin.module.css
Due: none

fix: css request
  packages/frontend/src/pages/admin/request/index.module.css
Due: none

feat: edit funding hide btn
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
Due: fmt, frontend-eslint

fix: admin funding request content
  packages/frontend/src/pages/admin/request/index.module.css
Due: none

doc: readme
  README.md
Due: none

fix
  packages/frontend/src/component/DialogModal/AlertModal.tsx
  packages/frontend/src/pages/community/components/bestarticle.jsx
  packages/frontend/src/pages/fundings/FundingsPay.jsx
Due: fmt, frontend-eslint

fix: funding request detail reponsive css
  packages/frontend/src/pages/admin/request/index.jsx
  packages/frontend/src/pages/admin/request/index.module.css
Due: fmt, frontend-eslint

doc: backend env readme
  packages/backend/README.md
Due: none

doc: add frontend doc
  packages/frontend/README.md
Due: none

fix: funding rest item check
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint

fix: error message to korean lang
  packages/backend/src/fundings/service.ts
Due: fmt, backend-eslint

fix: supress type warning
  packages/frontend/src/pages/admin/admin.module.css
  packages/frontend/src/pages/admin/index.tsx
  packages/frontend/src/util/date.d.ts
Due: fmt, frontend-eslint

fix: typo error
  packages/frontend/src/pages/admin/index.tsx
Due: fmt, frontend-eslint

fix: show upload error
  packages/frontend/src/component/Editor/Editor.tsx
  packages/frontend/src/pages/admin/index.tsx
Due: fmt, frontend-eslint

feat: show pretty alert
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/profile/edit/profileEdit.jsx
Due: fmt, frontend-eslint

refactor: rename more explicitly
  packages/backend/app.ts
  packages/backend/src/users/sendmail.ts
Due: fmt, backend-eslint

feat: multiple env
  .gitignore
  packages/backend/bin/www.ts
  packages/backend/package.json
Due: fmt, backend-eslint

fix: env redirect_url
  packages/frontend/src/config.ts
  packages/frontend/src/pages/login/index.jsx
Due: fmt, frontend-eslint

fix: wrong import case
  packages/frontend/src/pages/community/components/board.jsx
Due: fmt, frontend-eslint

fix: correct url
  packages/frontend/src/pages/fundings/FundingsDetailModal.jsx
Due: fmt, frontend-eslint

fix: navigate when funding delete
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint

feat: emphasis funding review
  packages/frontend/src/pages/community/components/board.jsx
Due: fmt, frontend-eslint

feat: detail error message
  packages/frontend/src/api/mod.ts
  packages/frontend/src/hook/mod.ts
  packages/frontend/src/pages/community/co_detail.jsx
Due: fmt, frontend-eslint

feat: data detail error message
  packages/frontend/src/hook/util.ts
Due: fmt, frontend-eslint

refactor: fetcher searchParams
  packages/frontend/src/hook/useArticleDetail.ts
  packages/frontend/src/hook/useArticleReports.ts
  packages/frontend/src/hook/useArticles.ts
  packages/frontend/src/hook/useFundingDetail.ts
  packages/frontend/src/hook/useFundingReport.ts
  packages/frontend/src/hook/useFundingRequest.ts
  packages/frontend/src/hook/useFundingRequestById.ts
  packages/frontend/src/hook/useFundingUsers.ts
  packages/frontend/src/hook/useFundings.ts
  packages/frontend/src/hook/useLikedArticles.ts
  packages/frontend/src/hook/useUser.ts
  packages/frontend/src/hook/util.ts
  packages/frontend/src/pages/community/co_detail.jsx
Due: fmt, frontend-eslint

Path conditions:
  fmt: any of: *.{js,ts,jsx,tsx}
  frontend-eslint: any of: *.{js,ts,jsx,tsx} and ^packages/frontend/
  backend-eslint: any of: *.{js,ts,jsx,tsx} and ^packages/backend/
