Repository vi117/mc_final: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, frontend-eslint, backend-eslint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#

pre-commit:
  parallel: true
  commands:
    fmt:
      tags: frontend style
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run format {staged_files} && git add {staged_files}
    frontend-eslint:
      root: packages/frontend
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run --workspace frontend lint {staged_files}
    backend-eslint:
      root: packages/backend
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run --workspace backend lint {staged_files}
#    rubocop:
#      tags: backend style
#      glob: "*.rb"
#      exclude: "application.rb|routes.rb"
#      run: bundle exec rubocop --force-exclusion {all_files}
#    govet:
#      tags: backend style
#      files: git ls-files -m
#      glob: "*.go"
#      run: go vet {files}
#  scripts:
#    "hello.js":
#      runner: node
#    "any.go":
#      runner: go run

remove: comments
  packages/frontend/src/pages/profile/edit/profileEdit.jsx
Due: fmt, frontend-eslint

feat: confirm modal
  packages/frontend/src/component/ConfirmModal.tsx
  packages/frontend/src/hook/useAlertModal.tsx
  packages/frontend/src/hook/useConfirmModal.tsx
  packages/frontend/src/pages/community/co_detail.jsx
Due: fmt, frontend-eslint

doc: fix example
  packages/frontend/src/hook/useConfirmModal.tsx
Due: fmt, frontend-eslint

feat: ui for funding request reject with reason
  packages/frontend/src/component/PromptModal.tsx
  packages/frontend/src/hook/usePromptModal.tsx
  packages/frontend/src/pages/admin/index.tsx
Due: fmt, frontend-eslint

fix: remove comma in wrong location
  packages/frontend/src/main.jsx
Due: fmt, frontend-eslint

refactor: extract formatDate
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/components/comments.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/util/date.js
Due: fmt, frontend-eslint

fix: rename 'admin' with '관리'
  packages/frontend/src/pages/profile/profilePage.tsx
Due: fmt, frontend-eslint

fix : 검색창 기능 적용
  packages/frontend/src/component/SearchModal.jsx
  packages/frontend/src/component/SearchModal.module.css
  packages/frontend/src/component/SearchModalBasic.module.css
  packages/frontend/src/component/SearchModalBasic.tsx
Due: fmt, frontend-eslint

fix : 검색창 css 수정
  packages/frontend/src/component/SearchModalBasic.module.css
Due: none

feat: fix css(login)
  packages/frontend/src/pages/community/components/bestarticle.jsx
  packages/frontend/src/pages/community/styles/Community.module.css
  packages/frontend/src/pages/community/styles/carousel.css
  packages/frontend/src/pages/fundings/FundingWrite.module.css
  packages/frontend/src/pages/fundings/component/InterestButton.module.css
  packages/frontend/src/pages/login/index.jsx
  packages/frontend/src/pages/login/style.module.css
Due: fmt, frontend-eslint

fix: funding write css
  packages/frontend/src/pages/fundings/FundingWrite.module.css
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
  packages/frontend/src/pages/fundings/component/RewardItemList.jsx
Due: fmt, frontend-eslint

feat: ReportModal
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
Due: fmt, frontend-eslint

fix(community): transition
  packages/frontend/src/pages/community/styles/Community.module.css
Due: none

fix: responsive canlender
  packages/frontend/src/pages/fundings/FundingWrite.module.css
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
  packages/frontend/src/pages/fundings/component/Calender.jsx
  packages/frontend/src/pages/fundings/component/Calender.module.css
Due: fmt, frontend-eslint

fix: responsive login css
  packages/frontend/src/pages/login/style.module.css
Due: none

remove: duplicated css
  packages/frontend/src/pages/login/style.module.css
Due: none

fix: remove box shadow on button
  packages/frontend/src/component/Button.module.css
Due: none

fix: filter category
  packages/frontend/src/pages/community/components/board.jsx
  packages/frontend/src/pages/community/styles/Community.module.css
Due: fmt, frontend-eslint

doc: fix example in usePrompt
  packages/frontend/src/hook/usePromptModal.tsx
Due: fmt, frontend-eslint

fix: deleted_at
  packages/backend/src/fundings/router.ts
  packages/backend/src/fundings/service.ts
Due: fmt, backend-eslint

refactor: extract Guide component
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
  packages/frontend/src/pages/fundings/component/Guide.jsx
  packages/frontend/src/pages/fundings/component/Guide.module.css
Due: fmt, frontend-eslint

doc: User Fundings Options
  packages/frontend/src/hook/useFundings.ts
Due: fmt, frontend-eslint

fix : 검색창 디자인 수정
  packages/frontend/src/component/SearchModalBasic.module.css
  packages/frontend/src/component/SearchModalBasic.tsx
Due: fmt, frontend-eslint

feat: edit funding api service
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/router.ts
  packages/backend/src/fundings/service.ts
Due: fmt, backend-eslint

fix: ReportModal css
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
Due: fmt, frontend-eslint

feat: add certifications
  packages/backend/src/fundings/router.ts
  packages/dto/index.d.ts
  packages/frontend/src/api/funding.ts
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint, backend-eslint

fix: formData for certificate
  packages/backend/src/fundings/router.ts
  packages/dto/index.d.ts
  packages/frontend/src/api/funding.ts
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
  packages/frontend/src/pages/fundings/component/Guide.jsx
Due: fmt, frontend-eslint, backend-eslint

fix(funding): css align center
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
Due: fmt, frontend-eslint

feat: edit css (login, register page)
  packages/frontend/src/component/UploadImage/Upload.module.css
  packages/frontend/src/component/UploadImage/index.tsx
  packages/frontend/src/component/ValidationInput.jsx
  packages/frontend/src/component/ValidationInput.module.css
  packages/frontend/src/component/layout/Header.module.css
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
  packages/frontend/src/pages/login/style.module.css
  packages/frontend/src/pages/register/index.jsx
  packages/frontend/src/pages/register/registerForm.module.css
Due: fmt, frontend-eslint

feat: funding report implement
  packages/backend/src/db/db.d.ts
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/router.ts
  packages/dto/index.d.ts
  packages/frontend/src/api/funding.ts
  packages/frontend/src/hook/useFundingReport.ts
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint, backend-eslint

fix : 펀딩 수정페이지 view만 수정
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
Due: fmt, frontend-eslint

feat: edit css(in community, login register modal)
  packages/frontend/src/pages/community/components/board.jsx
  packages/frontend/src/pages/community/styles/Community.module.css
  packages/frontend/src/pages/register/TermOfPolicy.tsx
  packages/frontend/src/pages/register/registerAgree.module.css
  packages/frontend/src/pages/register/registerArgeeModal.tsx
Due: fmt, frontend-eslint

feat: article report
  packages/backend/src/article/model.ts
  packages/backend/src/article/router.ts
  packages/dto/index.d.ts
  packages/frontend/src/api/article.ts
  packages/frontend/src/hook/useArticleReports.ts
Due: fmt, frontend-eslint, backend-eslint

fix: redirect when not logged in
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint

fix: improve validation input
  packages/frontend/src/component/ValidationInput.jsx
  packages/frontend/src/component/ValidationInput.module.css
  packages/frontend/src/pages/profile/edit/profileEdit.jsx
  packages/frontend/src/pages/profile/edit/profileEdit.module.css
  packages/frontend/src/pages/register/index.jsx
  packages/frontend/src/pages/register/registerForm.module.css
Due: fmt, frontend-eslint

fix: slice long contents
  packages/backend/src/fundings/request_model.ts
  packages/dto/index.d.ts
Due: fmt, backend-eslint

fix: typo error
  packages/frontend/src/hook/mod.ts
  packages/frontend/src/hook/useFundingReport.ts
Due: fmt, frontend-eslint

remove: unused
  packages/frontend/src/pages/fundings/FundingsHome_placeholder.jsx
  packages/frontend/src/pages/fundings/FundingsHome_placeholder.module.css
Due: fmt, frontend-eslint

feat: address popup for funding pay
  packages/frontend/src/pages/fundings/FundingsPay.jsx
Due: fmt, frontend-eslint

feat: admin report
  packages/backend/src/fundings/router.ts
  packages/dto/index.d.ts
  packages/frontend/src/hook/useFundingReport.ts
  packages/frontend/src/hook/useFundings.ts
  packages/frontend/src/hook/useLogin.ts
  packages/frontend/src/hook/util.ts
  packages/frontend/src/pages/admin/index.tsx
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint, backend-eslint
