Repository vi117/mc_final: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, frontend-eslint, backend-eslint

fmt:
  tags: frontend style
  run: npm run format {staged_files} && git add {staged_files}

frontend-eslint:
  run: npm run --workspace frontend lint {staged_files}

backend-eslint:
  run: npm run --workspace backend lint {staged_files}

fix : 펀딩유저 프로필 css
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/profile/UserFundings.jsx
  packages/frontend/src/pages/profile/UserProfileView.module.css
  packages/frontend/src/pages/profile/userProfileView.jsx
Due: fmt, frontend-eslint

fix : 펀딩 유저 프로필
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/profile/UserProfileView.module.css
  packages/frontend/src/pages/profile/userProfileView.jsx
Due: fmt, frontend-eslint

fix: reduce load
  packages/backend/src/fundings/funding_model.ts
Due: fmt, backend-eslint

feat: edit profile
  packages/frontend/src/pages/profile/edit/profileEdit.jsx
Due: fmt, frontend-eslint

fix: forbid participating ended funding
  packages/backend/src/fundings/service.ts
Due: fmt, backend-eslint

fix: withdraw funding
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint

fix: google svg
  packages/frontend/src/pages/login/index.jsx
Due: fmt, frontend-eslint

fix: address button delete
  packages/frontend/src/pages/register/index.jsx
Due: fmt, frontend-eslint

fix: admin css
  packages/frontend/src/pages/admin/admin.module.css
  packages/frontend/src/pages/admin/index.tsx
Due: fmt, frontend-eslint

feat: add fundingwrite css
  packages/frontend/src/pages/fundings/FundingWrite.module.css
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
  packages/frontend/src/pages/fundings/component/RewardItemList.jsx
Due: fmt, frontend-eslint

feat: edit funding detail btn css
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
Due: none

feat: fix fundingwrite css
  packages/frontend/src/pages/community/styles/tags.css
  packages/frontend/src/pages/fundings/FundingWrite.module.css
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
  packages/frontend/src/pages/fundings/component/Calender.jsx
  packages/frontend/src/pages/fundings/component/RewardItemList.jsx
  packages/frontend/src/pages/fundings/component/datepicker.css
Due: fmt, frontend-eslint

feat: add related_funding_id
  packages/backend/src/article/model.ts
  packages/backend/src/article/router.ts
  packages/backend/src/db/db.d.ts
  packages/dto/index.d.ts
  packages/frontend/src/hook/useArticles.ts
  packages/frontend/src/pages/fundings/FundingsPay.jsx
Due: fmt, frontend-eslint, backend-eslint

fix: admin page css 추가
  packages/frontend/src/pages/admin/admin.module.css
  packages/frontend/src/pages/admin/index.tsx
Due: fmt, frontend-eslint

feat: show not review funding to write article
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/router.ts
  packages/frontend/src/hook/useFundings.ts
  packages/frontend/src/pages/community/components/co_writemodal.jsx
Due: fmt, frontend-eslint, backend-eslint

feat: write funding review
  packages/backend/src/article/router.ts
  packages/frontend/src/pages/community/co_write.jsx
  packages/frontend/src/pages/community/components/co_writemodal.tsx
Due: fmt, frontend-eslint, backend-eslint

feat: add user's address_detail
  packages/backend/src/db/db.d.ts
  packages/backend/src/users/jwt.ts
  packages/backend/src/users/router.ts
  packages/dto/index.d.ts
  packages/frontend/src/api/user.ts
  packages/frontend/src/hook/useLogin.ts
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsPay.jsx
  packages/frontend/src/pages/register/index.jsx
Due: fmt, frontend-eslint, backend-eslint

feat: add tag link
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/FundingsHome.module.css
  packages/frontend/src/pages/fundings/component/Item.tsx
Due: fmt, frontend-eslint

refactor: move funding item css
  packages/frontend/src/pages/fundings/FundingsHome.module.css
  packages/frontend/src/pages/fundings/component/Item.module.css
  packages/frontend/src/pages/fundings/component/Item.tsx
Due: fmt, frontend-eslint

feat: emphasis search tag
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/component/Item.module.css
  packages/frontend/src/pages/fundings/component/Item.tsx
Due: fmt, frontend-eslint

fix : 유저프로필 링크
  packages/frontend/src/App.jsx
  packages/frontend/src/component/SearchModal.jsx
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/styles/Co_detail.module.css
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/profile/UserProfileView.module.css
  packages/frontend/src/pages/profile/userProfileView.jsx
Due: fmt, frontend-eslint

feat: alert modal
  packages/frontend/src/api/funding.ts
  packages/frontend/src/component/AlertModal.tsx
  packages/frontend/src/hook/useAlertModal.tsx
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint

fix: 펀딩유저프로필 소개fetch
  packages/frontend/src/pages/profile/userProfileView.jsx
Due: fmt, frontend-eslint

refactor: extract setIntereset to api
  packages/frontend/src/api/funding.ts
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint

fix: scroll when funding withdrawal
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint

fix: a descendant of <a>
  packages/frontend/src/pages/fundings/component/Item.tsx
Due: fmt, frontend-eslint

feat: fix funding write css (responsive)
  packages/frontend/src/pages/fundings/FundingWrite.module.css
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
  packages/frontend/src/pages/fundings/component/Calender.jsx
Due: fmt, frontend-eslint

feat: fix funding detail button color
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
Due: none

fix : 펀딩유저 host로 명칭 변경
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/profile/UserFundings.jsx
  packages/frontend/src/pages/profile/hostProfileview.jsx
  packages/frontend/src/pages/profile/hostProfileview.module.css
Due: fmt, frontend-eslint

feat: add email to token info
  packages/backend/src/users/jwt.ts
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

fix: show modal for password reset
  packages/frontend/src/api/user.ts
  packages/frontend/src/pages/reset-password/index.jsx
Due: fmt, frontend-eslint

refactor: export mod
  packages/frontend/src/hook/mod.ts
  packages/frontend/src/hook/useAlertModal.tsx
  packages/frontend/src/hook/useArticleDetail.ts
  packages/frontend/src/hook/useArticles.ts
  packages/frontend/src/hook/useFundingDetail.ts
  packages/frontend/src/hook/useFundingRequest.ts
  packages/frontend/src/hook/useFundings.ts
  packages/frontend/src/hook/useLikedArticles.ts
  packages/frontend/src/hook/useUser.ts
Due: fmt, frontend-eslint

feat: fix funding write css- margin
  packages/frontend/src/pages/fundings/FundingWrite.module.css
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint

feat: fix fundingwrite- sticky menu css
  packages/frontend/src/pages/fundings/FundingWrite.module.css
Due: none

fix: reset-password css rework
  packages/frontend/src/pages/reset-password/index.jsx
  packages/frontend/src/pages/reset-password/reset-password.module.css
Due: fmt, frontend-eslint

fix: check thumbnailArr
  packages/backend/src/fundings/router.ts
  packages/frontend/src/component/layout/Layout.jsx
Due: fmt, frontend-eslint, backend-eslint

fix : 호스트프로필뷰 fix
  packages/frontend/src/pages/profile/hostProfileview.jsx
Due: fmt, frontend-eslint

feat: validate 유효성 검사
  packages/frontend/src/pages/register/index.jsx
Due: fmt, frontend-eslint

feat: sticky footer css
  packages/frontend/src/component/layout/Footer.module.css
  packages/frontend/src/component/layout/Footer.tsx
  packages/frontend/src/component/layout/Header.module.css
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/component/layout/Layout.jsx
  packages/frontend/src/component/layout/Layout.module.css
  packages/frontend/src/index.css
Due: fmt, frontend-eslint

feat: add funding detail- edit btn
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
Due: fmt, frontend-eslint

Path conditions:
  fmt: any of: *.{js,ts,jsx,tsx}
  frontend-eslint: any of: *.{js,ts,jsx,tsx} and ^packages/frontend/
  backend-eslint: any of: *.{js,ts,jsx,tsx} and ^packages/backend/
