Repository vi117/mc_final: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, frontend-eslint, backend-eslint

fmt:
  tags: frontend style
  run: npm run format {staged_files} && git add {staged_files}

frontend-eslint:
  run: npm run --workspace frontend lint {staged_files}

backend-eslint:
  run: npm run --workspace backend lint {staged_files}

로그인 CSS
  package-lock.json
  package.json
  packages/backend/package.json
  packages/frontend/src/pages/home/login/images/btnG_아이콘원형.png
  packages/frontend/src/pages/home/login/images/kakao_login_medium_wide.png
  packages/frontend/src/pages/home/login/images/navericon.png
  packages/frontend/src/pages/home/login/index.html
  packages/frontend/src/pages/home/login/style.css
Due: none

testing(user): authCodeRepo test
  packages/backend/src/users/authCodeRepo.test.ts
Due: fmt, backend-eslint

testing(user): authCodeRepo test (#49)
  packages/backend/src/users/authCodeRepo.test.ts
Due: fmt, backend-eslint

로그인 페이지 제작
  packages/frontend/src/pages/home/login/index.html
  packages/frontend/src/pages/home/login/login.js
  packages/frontend/src/pages/home/login/style.css
Due: fmt, frontend-eslint

feat:community home design(3)
  packages/frontend/src/App.jsx
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/pages/commu/Routes/write.css
  packages/frontend/src/pages/commu/Routes/write.jsx
  packages/frontend/src/pages/commu/assets/sampledata.jsx
  packages/frontend/src/pages/commu/commu.css
  packages/frontend/src/pages/commu/index.jsx
Due: fmt, frontend-eslint

프로필작성, 프로필 css, 유효성검사
  packages/frontend/src/pages/register/index.jsx
  packages/frontend/src/pages/uploadcomponent/Upload.css
  packages/frontend/src/pages/uploadcomponent/Upload.jsx
Due: fmt, frontend-eslint

FundingDetail 230912 17:00 save
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/pages/fundings/FundingsDetail.css
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  test.py
Due: fmt, frontend-eslint

add badge
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint

feat: FundingDetail Skeleton Page
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/pages/fundings/FundingsDetail.css
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  test.py
Due: fmt, frontend-eslint

fix: lint configure
  packages/backend/.eslintrc.cjs
  packages/frontend/.eslintrc.cjs
Due: none

fix: lint configure (#52)
  packages/backend/.eslintrc.cjs
  packages/frontend/.eslintrc.cjs
Due: none

fix: mock
  package-lock.json
  packages/backend/.swcrc
  packages/backend/package.json
  packages/backend/src/users/__mocks__/model.ts
  packages/backend/src/users/authCodeRepo.test.ts
  packages/backend/src/users/authCodeRepo.ts
  packages/backend/src/users/model.ts
  packages/backend/src/users/router.test.ts
Due: fmt, backend-eslint

fix: mock problem (#53)
  package-lock.json
  packages/backend/.swcrc
  packages/backend/package.json
  packages/backend/src/users/__mocks__/model.ts
  packages/backend/src/users/authCodeRepo.test.ts
  packages/backend/src/users/authCodeRepo.ts
  packages/backend/src/users/model.ts
  packages/backend/src/users/router.test.ts
Due: fmt, backend-eslint

로그인 페이지 최종
  packages/frontend/src/pages/home/login/images/btnG_아이콘원형.png
  packages/frontend/src/pages/home/login/images/kakao_login_medium_wide.png
  packages/frontend/src/pages/home/login/images/navericon.png
  packages/frontend/src/pages/home/login/index.html
  packages/frontend/src/pages/home/login/style.css
Due: none

FundingsWrite 13:00 save
  package-lock.json
  package.json
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint

convert to react page
  packages/frontend/index.html
  packages/frontend/src/App.jsx
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/index.css
  packages/frontend/src/pages/home/login/images/btnG_아이콘원형.png
  packages/frontend/src/pages/home/login/images/kakao_login_medium_wide.png
  packages/frontend/src/pages/home/login/images/navericon.png
  packages/frontend/src/pages/home/login/index.html
  packages/frontend/src/pages/home/login/login.js
  packages/frontend/src/pages/login/index.jsx
  packages/frontend/src/pages/login/style.module.css
Due: fmt, frontend-eslint

로그인 페이지 제작 (#44)
  package-lock.json
  package.json
  packages/backend/package.json
  packages/frontend/index.html
  packages/frontend/src/App.jsx
  packages/frontend/src/index.css
  packages/frontend/src/pages/login/index.jsx
  packages/frontend/src/pages/login/style.module.css
Due: fmt, frontend-eslint

add safeTransaction
  packages/backend/src/db/util.ts
Due: fmt, backend-eslint

skeleton
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/request_model.ts
  packages/backend/src/fundings/router.ts
Due: fmt, backend-eslint

transaction
  packages/backend/src/users/model.ts
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

fix bug
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

funding model querys
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/request_model.ts
Due: fmt, backend-eslint

resolve conflict
  packages/backend/src/users/model.ts
Due: fmt, backend-eslint

mock db funding_model
  packages/backend/src/db/mockDB.ts
  packages/backend/src/fundings/funding_model.test.ts
  packages/backend/src/fundings/funding_model.ts
Due: fmt, backend-eslint

testDBConnection
  packages/backend/app.ts
  packages/backend/src/db/util.ts
Due: fmt, backend-eslint

move function add checkLogin middleware
  packages/backend/src/users/jwt.ts
Due: fmt, backend-eslint

refactor(user) router
  packages/backend/src/users/router.test.ts
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

add funding handler
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/router.ts
  packages/backend/src/routes/index.ts
Due: fmt, backend-eslint

user insert returning user
  packages/backend/src/users/__mocks__/model.ts
  packages/backend/src/users/model.ts
  packages/backend/src/users/router.test.ts
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

user router improvemnet (#54)
  packages/backend/app.ts
  packages/backend/src/db/mockDB.ts
  packages/backend/src/db/util.ts
  packages/backend/src/fundings/funding_model.test.ts
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/request_model.ts
  packages/backend/src/fundings/router.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/users/__mocks__/model.ts
  packages/backend/src/users/jwt.ts
  packages/backend/src/users/model.ts
  packages/backend/src/users/router.test.ts
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

fix log bug
  packages/backend/src/users/jwt.ts
Due: fmt, backend-eslint

funding_model
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/request_model.ts
  packages/backend/src/fundings/router.ts
  packages/backend/src/fundings/service.test.ts
  packages/backend/src/fundings/service.ts
  packages/backend/src/users/router.test.ts
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

check user email approved
  packages/backend/src/fundings/router.ts
  packages/backend/src/users/jwt.ts
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

insert throw
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/request_model.ts
Due: fmt, backend-eslint

returning not found
  packages/backend/src/fundings/router.ts
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

fix refresh bug
  packages/backend/src/users/jwt.ts
Due: fmt, backend-eslint

feat(funding): add Funding and Request (#55)
  packages/backend/src/fundings/funding_model.ts
  packages/backend/src/fundings/request_model.ts
  packages/backend/src/fundings/router.ts
  packages/backend/src/fundings/service.test.ts
  packages/backend/src/fundings/service.ts
  packages/backend/src/users/jwt.ts
  packages/backend/src/users/router.test.ts
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

fix: status code
  packages/backend/src/users/router.ts
Due: fmt, backend-eslint

fix jest extension not work
  .vscode/settings.json
Due: none

Path conditions:
  fmt: any of: *.{js,ts,jsx,tsx}
  frontend-eslint: any of: *.{js,ts,jsx,tsx} and ^packages/frontend/
  backend-eslint: any of: *.{js,ts,jsx,tsx} and ^packages/backend/
