Repository vi117/mc_final: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, frontend-eslint, backend-eslint

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#

pre-commit:
  parallel: true
  commands:
    fmt:
      tags: frontend style
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run format {staged_files} && git add {staged_files}
    frontend-eslint:
      root: packages/frontend
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run --workspace frontend lint {staged_files}
    backend-eslint:
      root: packages/backend
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run --workspace backend lint {staged_files}
#    rubocop:
#      tags: backend style
#      glob: "*.rb"
#      exclude: "application.rb|routes.rb"
#      run: bundle exec rubocop --force-exclusion {all_files}
#    govet:
#      tags: backend style
#      files: git ls-files -m
#      glob: "*.go"
#      run: go vet {files}
#  scripts:
#    "hello.js":
#      runner: node
#    "any.go":
#      runner: go run

refactor: catch error status
  packages/backend/app.ts
  packages/backend/src/fundings/router.ts
  packages/backend/src/util/assert_param.ts
Due: fmt, backend-eslint

fix: profile, register modify
  package-lock.json
  packages/frontend/src/pages/profile/profile.css
  packages/frontend/src/pages/profile/profileLikeList.jsx
  packages/frontend/src/pages/profile/profilePage.jsx
  packages/frontend/src/pages/uploadcomponent/Upload.jsx
Due: fmt, frontend-eslint

feat: approve email
  packages/backend/src/users/sendmail.ts
  packages/frontend/src/App.jsx
  packages/frontend/src/pages/approve-email/approve.module.css
  packages/frontend/src/pages/approve-email/index.tsx
  packages/frontend/src/pages/register/index.jsx
Due: fmt, frontend-eslint, backend-eslint

feat: profile withdraw add fix: Introduce name change
  packages/frontend/src/pages/profile/profilePage.jsx
  packages/frontend/src/pages/register/index.jsx
Due: fmt, frontend-eslint

fix: detail message
  packages/frontend/src/pages/register/index.jsx
Due: fmt, frontend-eslint

debug: sendmail log
  packages/backend/src/users/sendmail.ts
Due: fmt, backend-eslint

13:30 save
  package-lock.json
  packages/frontend/src/component/AutoSearch.jsx
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint

fix: trim cookie name
  packages/frontend/src/hook/useLogin.ts
Due: fmt, frontend-eslint

feat: fix community write alert/add modal
  packages/frontend/src/component/SearchModalBasic.module.css
  packages/frontend/src/component/SearchModalBasic.tsx
  packages/frontend/src/pages/community/co_detail.jsx
  packages/frontend/src/pages/community/co_write.jsx
  packages/frontend/src/pages/community/components/board.jsx
  packages/frontend/src/pages/community/components/category.jsx
  packages/frontend/src/pages/community/components/co_writemodal.jsx
  packages/frontend/src/pages/community/styles/Community.module.css
Due: fmt, frontend-eslint

Co-authored-by: vi117 <vi117@users.noreply.github.com> Co-authored-by: DANG-HJ <DANG-HJ@users.noreply.github.com>
  packages/frontend/src/pages/fundings/FundingsPay.jsx
  packages/frontend/src/pages/fundings/FundingsPay.module.css
Due: fmt, frontend-eslint

fix: elevate multer limit
  packages/backend/src/file/multer.ts
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint, backend-eslint

fix: content not included when all
  packages/backend/src/fundings/funding_model.ts
Due: fmt, backend-eslint

fix: remove related funding item
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
Due: fmt, frontend-eslint

feat: fix community main- thumbnail, navigate
  packages/frontend/src/pages/community/co_write.jsx
  packages/frontend/src/pages/community/community.jsx
  packages/frontend/src/pages/community/styles/Community.module.css
Due: fmt, frontend-eslint

fix: Funding style
  packages/backend/src/article/model.ts
  packages/frontend/src/component/Editor.jsx
  packages/frontend/src/pages/admin/index.tsx
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
  packages/frontend/src/pages/fundings/component/Calender.jsx
  packages/frontend/src/pages/fundings/component/ItemList.jsx
Due: fmt, frontend-eslint, backend-eslint

fix: setup img css
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
Due: fmt, frontend-eslint

feat: delete article
  packages/frontend/src/pages/community/co_detail.jsx
Due: fmt, frontend-eslint

fix: use grid in funding home
  packages/frontend/src/pages/fundings/FundingsHome.jsx
Due: fmt, frontend-eslint

fix : 쓰기, 수정 완료시 펀딩홈으로
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint

fix: images
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
Due: fmt, frontend-eslint

fix: fundingWrite padding
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint

fix: fundingEdit padding
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
Due: fmt, frontend-eslint

fix: fundingPay padding
  packages/frontend/src/pages/fundings/FundingsPay.jsx
Due: fmt, frontend-eslint

fix: fundingsPay Link modify
  packages/frontend/src/pages/fundings/FundingsPay.jsx
Due: fmt, frontend-eslint

fix : 대문배너 펀딩디테일로 링크 연결
  packages/frontend/src/pages/home/index.jsx
Due: fmt, frontend-eslint

fix : 유저 프로필 사진 노출
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
Due: fmt, frontend-eslint

fix : 디테일 유저 프로필 사진
  packages/frontend/src/pages/fundings/FundingsDetail.jsx
  packages/frontend/src/pages/fundings/FundingsDetail.module.css
Due: fmt, frontend-eslint

feat: upload handler
  packages/backend/src/routes/index.ts
  packages/backend/src/upload/upload.ts
  packages/frontend/package.json
  packages/frontend/src/App.jsx
  packages/frontend/src/component/Editor.jsx
  packages/frontend/src/component/Editor.tsx
  packages/frontend/src/pages/community/co_edit.jsx
  packages/frontend/src/pages/community/co_write.jsx
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint, backend-eslint

fix: FundingsPay css 진행중
  packages/frontend/src/pages/fundings/FundingsPay.jsx
  packages/frontend/src/pages/fundings/FundingsPay.module.css
Due: fmt, frontend-eslint

fix: FundingsPay CSS
  packages/frontend/src/pages/fundings/FundingsPay.module.css
Due: none

15:30 save
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/pages/fundings/FundingsEdit.jsx
  packages/frontend/src/pages/fundings/FundingsSearch.jsx
  packages/frontend/src/pages/fundings/FundingsWrite.jsx
Due: fmt, frontend-eslint

feat: fix serachmodal , header css
  packages/frontend/src/component/SearchModal.module.css
  packages/frontend/src/component/SearchModal.tsx
  packages/frontend/src/component/SearchModalBasic.module.css
  packages/frontend/src/component/SearchModalBasic.tsx
  packages/frontend/src/component/layout/Footer.module.css
  packages/frontend/src/component/layout/Footer.tsx
  packages/frontend/src/component/layout/Header.module.css
  packages/frontend/src/component/layout/Header.tsx
  packages/frontend/src/pages/community/community.jsx
Due: fmt, frontend-eslint

feat: useLoginInfo update on focus
  packages/frontend/src/hook/useLogin.ts
Due: fmt, frontend-eslint

fix: FundingsPay css 수정중
  packages/frontend/src/pages/fundings/FundingsPay.jsx
  packages/frontend/src/pages/fundings/FundingsPay.module.css
Due: fmt, frontend-eslint

feat: fix funding home, header, footer css (진행중)
  packages/frontend/src/pages/community/styles/Co_write.module.css
  packages/frontend/src/pages/community/styles/Community.module.css
  packages/frontend/src/pages/community/styles/tags.css
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/FundingsHome.module.css
  packages/frontend/src/pages/fundings/FundingsHome_Item.css
  packages/frontend/src/pages/fundings/FundingsSearch.jsx
Due: fmt, frontend-eslint

fix: hr tag going out of the screen
  packages/frontend/src/component/layout/Layout.jsx
Due: fmt, frontend-eslint

fix: responsive footer
  packages/frontend/src/component/layout/Footer.module.css
  packages/frontend/src/component/layout/Footer.tsx
Due: fmt, frontend-eslint

feat: fix fundingsHome css
  packages/frontend/src/component/layout/Header.module.css
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/FundingsHome.module.css
  packages/frontend/src/pages/fundings/progressbar.css
Due: fmt, frontend-eslint

feat: fix home, header container padding
  packages/frontend/src/component/layout/Header.module.css
  packages/frontend/src/pages/community/co_write.jsx
  packages/frontend/src/pages/community/styles/Co_write.module.css
  packages/frontend/src/pages/community/styles/tags.css
  packages/frontend/src/pages/fundings/FundingsHome.jsx
  packages/frontend/src/pages/fundings/FundingsHome.module.css
  packages/frontend/src/pages/home/home.css
Due: fmt, frontend-eslint

fix: login css rework
  packages/frontend/src/pages/login/index.jsx
  packages/frontend/src/pages/login/style.module.css
Due: fmt, frontend-eslint
